.home
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    background: #f5f5f5;
    // background: #0e0e0e;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
}