@import "../../styles/variables.scss";
.hotel-home {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  background: #f5f5f5;
  // background: #0e0e0e;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  // justify-content: center;
}
.visual-wrapper {
  //   display: grid;
  //   grid-template-columns: repeat(2, 1fr);
  //   grid-template-rows: repeat(2, 1fr);
  //   gap: 8px;
  //   .hotel-items {
  //     border: 1px solid #f2ddcb;
  //     background: $darkOrange;
  //     height: 100px;
  //     width: 100px;
  //   }
  //   .high{
  //       grid-row: span 2 / span 2;
  //   }
  height: 20vh;
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 20px;
  .hotel-img {
    height: 20vh;
    position: relative;
    z-index: 1;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  .text-wrapper {
    position: relative;
    z-index: 4;
    bottom: 60px;
    padding: 10px;
    width: 100%;
    background: #333333e7;
    border-radius: 10px;
    h4,p{
        font-family: $RobotoCondensed,sans-serif;
        color: $page_color;
        font-size: 12px;
        font-weight: 500;
        text-transform: capitalize;
    }
    h4{
        font-size: 15px;
    }
  }
}
