@import "../../styles/variables.scss";
.hotel-home {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  background: #f5f5f5;
  // background: #0e0e0e;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  // justify-content: center;
}
.visual-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  .hotel-items {
    border: 1px solid #f2ddcb;
    background: $darkOrange;
    height: 100px;
    width: 100px;
  }
  .high{
      grid-row: span 2 / span 2;
  }
}
