@import "tailwindcss";
@import "./styles/variables.scss";

@font-face {
    font-family: "poppins";
    src: url('../fonts/Poppins/Poppins-Bold.ttf') format('ttf'), 
         url('../fonts/Poppins/Poppins-Light.ttf') format('ttf'); 
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
      font-family: "bebbasNeue";
      src: url('../fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('ttf');
      font-weight: normal;
      font-style: normal;
    }

:root {
 --pageColor: #F5F7F8;
 --ticketColor: #222222;
 --buttonColor:#222222;
 --actionBlue:#65B7F5;
 --actionOrange:#E88D67;
 --deemFontColor:#313030;
 --visibleFontColor:#313030;
 --inputBackGround:#fefefe;
 --textFont:poppins,sans-serif;
 --cityFont:bebbasNeue,sans-serif;
}
