body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-items{
  background: #0e0e0e;
  width: fit-content;
  border-radius: 50px;
  padding: 2px;
  position: fixed;
  /* top: 73%;*/
  left: 50%; 
  top: 3%;
}
h1,h2, h3,h4,h5,h6
{
  margin: 0;
  padding: 0;
}
ul{

  margin: 0;
  padding: 0;
}
.nav-items ul
{
  display: flex;
  justify-content: center;
  gap: 5px;
}
.nav-items ul li
{
  color: #fefefe;
  list-style: none;
  padding: 2px 14px;
  border-radius: 30px;
}
.nav-items ul li:hover
{
  background: #fefefe;
  color: #141414;
  transition: all 1.2s;
}
.nav-items ul a
{
  color: #141414;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: capitalize;
}
/* places-cards */
.places{
  height: 100vh;
  background: #EBEBEB;
}
.card
{
  width: 200px;
  height: 250px;
  background: #fefefe;
  /* border: #0e0e0e 1px solid; */
  position: relative;
  left: 30px;
  border-radius: 30px;
  top: 100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* background: #0e0e0e; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.card img
{
  width: 195px;
  border-radius:30px ;
  margin-top: 2px;
}
.card-text
{
  /* background: #f18282; */
  width: 195px;
  margin-top: 10px;
  margin-left: 10px;
}
.card h2
{
  font-size: 15px;
  margin-bottom: 5px;
}
.card p
{
  font-size: 10.5px;
  margin: 0;
}
.btns
{
  width: 195px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  gap: 90px;
}
.btns button
{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #0e0e0e;
  color: #fefefe;
  border: none;
  padding: 3px 5px;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 12px;
}