body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-items{
  background: #0e0e0e;
  width: fit-content;
  border-radius: 50px;
  padding: 2px;
  position: fixed;
  /* top: 73%;*/
  left: 50%; 
  top: 3%;
}
h1,h2, h3,h4,h5,h6
{
  margin: 0;
  padding: 0;
}
ul{

  margin: 0;
  padding: 0;
}
.nav-items ul
{
  display: flex;
  justify-content: center;
  gap: 5px;
}
.nav-items ul li
{
  color: #fefefe;
  list-style: none;
  padding: 2px 14px;
  border-radius: 30px;
}
.nav-items ul li:hover
{
  background: #fefefe;
  color: #141414;
  transition: all 1.2s;
}
.nav-items ul a
{
  color: #141414;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: capitalize;
}
/* places-cards */
.card
{
  width: 200px;
  height: 300px;
  border: #0e0e0e 1px solid;
  position: relative;
  left: 30px;
  border-radius: 30px;
  top: 100px;
  /* background: #0e0e0e; */
}
.card img
{
  width: 150px;
  border-radius:20px ;
}
