@import "../../styles/variables.scss";
.bookings-page {
  background: $page_color;
  height: 100vh;
  padding: 5px;
  .main-header {
    h1 {
      margin: 15px 0px 0px 0px;
      opacity: 100%;
    }
    h3 {
      color: $ticketColor;
      font-family: $robotoMono, monospace;
      font-size: 12px;
      font-weight: 500;
      opacity: 60%;
    }
  }
  .close {
    color: $inputBackGround;
    padding: 5px 10px;
    border-radius: 20px;
    background: $ticketColor;
    font-family: $textFont, sans-serif;
    font-size: 10px;
    text-transform: capitalize;
  }
  .tabz {
    width: 53%;
    background: $ticketColor;
  }
  .tabz-container {
    margin-top: 30px;
    padding: 0;
    background: transparent;
    box-shadow: none;
    height: auto;
    max-height: 100%;
  }
  .img-header {
    height: 15vh;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
  .tabz-content {
    padding: 0px;
  }
  .content {
    background: #fff;
    padding: 5px;
    border-radius: 10px;
    margin-top: 20px;

    h1 {
      font-size: 17px;
      font-family: $robotoMono, monospace;
      font-weight: 500;
      text-transform: capitalize;
      color: $ticketColor;
      opacity: 90%;
          margin: 10px 0px 0px 0px;
    }
    p
    {
        // margin-top: 10px;
        font-size: 9px;
        font-family: $robotoMono,monospace;
    }
  }
  .guest,
  .room-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 4px;
    h5 {
      font-size: 12px;
      //   margin-bottom: 10px;
      font-family: $robotoMono, sans-serif;
      color: $ticketColor;
      text-transform: capitalize;
      font-weight: 400;
    }
  }
  .booking-pricing {
    margin-top: 10px;
    p {
      color: $darkOrange;
      font-family: $robotoMono, sans-serif;
    }
    h5,
    h2 {
      font-size: 15px;
      //   margin-bottom: 10px;
      font-family: $robotoMono, sans-serif;
      color: $ticketColor;
      text-transform: capitalize;
      font-weight: 500;
    //   text-decoration: underline;
    }
    h5 {
      font-size: 10px;
      margin: 0;
      text-decoration: none;
       font-weight: 400;
    }
    span {
      font-weight: 600;
      font-size: 11px;
    }
    .prices {
      display: flex;
      align-items: center;
      gap: 20%;
    }
  }
  .pricing-breakdown {
    h1 {
      font-size: 15px;
      margin-top: 10px;
      margin-bottom: 5px;
      color: $ticketColor;
      text-decoration: underline;
      font-weight: 600;
    }
    h4 {
      margin: 0;
      font-size: 10px;
      opacity: 100%;
      font-weight: 400;
      color: $ticketColor;
    }
    h5 {
      font-family: $robotoMono, sans-serif;
      color: $ticketColor;
      text-transform: capitalize;
      font-size: 10px;
      font-weight: 600;
      opacity: 70%;
      margin-top: 5px;
    }
  }
  .booking-request {
    h1 {
      font-family: $robotoMono, sans-serif;
      color: $ticketColor;
      text-transform: capitalize;
      font-size: 15px;
      font-weight: 600;
      //   opacity: 70%;
      margin-top: 5px;
      margin-bottom: 0px;
    }
    p {
      color: $ticketColor;
      font-family: $robotoMono, sans-serif;
    }
  }
  .hotel-contacts {
    h1 {
      font-family: $robotoMono, sans-serif;
      color: $ticketColor;
      text-transform: capitalize;
      font-size: 15px;
      font-weight: 600;
      //   opacity: 70%;
      margin-top: 5px;
      margin-bottom: 10px;
    }
    h5 {
      font-family: $robotoMono, sans-serif;
      color: $ticketColor;
      text-transform: capitalize;
      font-size: 12px;
      font-weight: 600;
      //   opacity: 70%;
      margin-top: 5px;
    }
  }
  .modifiers {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 20px;
    width: 100%;
    button {
      font-family: $robotoMono, sans-serif;
      color: $inputBackGround;
      text-transform: capitalize;
      font-size: 10px;
      padding: 10px 15px;
      border-radius: 5px;
    }
    .cancel {
      background: #fe5441;
    }
    .modify {
      background: #2f7bc8;
    }
    .download {
      background: #40c265;
    }
  }
}

.height {
  height: 40vh;
}
