@import '../../styles/variables.scss';
.bookings-page{
    background: $page_color;
    height: 100vh;
    padding: 5px;
    .tabz {
        width: 53%;
        background: $ticketColor;
    }
    .tabz-container {
        margin-top: 30px;
        padding: 0;
        background: transparent;
        box-shadow: none;
    }
    .img-header
    {
        height: 35vh;
        width: 100%;
        img
        {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
    }
    .tabz-content {
        padding: 0px;
    }
    .content 
    {
        background: #fff;
        padding: 10px;
        border-radius: 10px;
        margin-top: 20px;

        h1
        {
            font-size: 18px;
            font-family: $roboto,sans-serif;
            font-weight: 500;
            text-transform: capitalize;
            color: $ticketColor;
            opacity: 90%;
            margin: 0px 0px 10px 0px;
        }

    }
   .guest, .room-details
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0px;
    }
}