@import "../../../styles/variables.scss";

.flex-option {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  border-radius: 5px;
  padding:1px;
  // margin-top: 10px;
  background: $page_color;
}
.btn-flex {
  padding: 10px;

  input {
    position: absolute;
    z-index: 30;
    opacity: 1%;
  }
  label {
    font-size: 15px;
    position: relative;
    z-index: 20;
    font-family: $textFont, sans-serif;
  }
}
.btn-flex.active {
  border-radius: 5px;
  background-color: $ticketColor;
  color: $page_color;
}
