@import '../../../styles/variables.scss';

.flex-option
{
    display: flex;
    justify-content: space-evenly;
    gap: 2px;
    padding: 10px 5px;
    // margin-top: 10px;
}
.btn-flex
{
    display: flex;
    background:$page_color ;
    flex-direction: column;
    // width: 100px;
    justify-content: center;
    align-items: center;
    padding: 18px 27px;
    text-transform: capitalize;
    border-radius: 30px;
    input
    {
        width: 200px;
        height:50px;
        position: absolute;
        z-index: 30;
        opacity: 1%;
        
    }
    label
    {
        font-size: 15px;
        position: relative;
        z-index: 20;
        font-family: $textFont,sans-serif;
    }
}
.btn-flex:hover
{
    border: 1px solid $page_color;
    background: $ticketColor;
    color: $page_color;
}