@import'../../styles//variables.scss';
.searches-container{
    width: 100vw;
    padding: 10px;
    h4
    {
        font-size: 12px;
        font-family: $RobotoCondensed,sans-serif;
        color: $text_color;
        text-transform: capitalize;
        font-weight: 500;
    }
}
.searched-wrapper
{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
.search
{
    flex: auto 0 0;
    background: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    scroll-snap-align: start;
    h5
    {
        font-family: $robotoMono,monospace;
        font-size: 11px;
        font-weight: 500;
        text-transform: capitalize;
        color: $darkOrange;
    }
}
.backUpBlock
{
    height: 100vh;
}