@import'../../styles//variables.scss';
.searches-container{
    width: 100vw;
    padding: 10px;
    h4
    {
        font-size: 12px;
        font-family: $RobotoCondensed,sans-serif;
        color: $text_color;
        text-transform: capitalize;
        font-weight: 500;
    }
}
.searched-wrapper
{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
.search
{
    flex: auto 0 0;
    background: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    scroll-snap-align: start;
    width: 95%;
    h5
    {
        font-family: $robotoMono,monospace;
        font-size: 11px;
        font-weight: 500;
        text-transform: capitalize;
        color: $darkOrange;
    }
}
.backUpBlock
{
    height: 200vh;

}
.did-you-know-wrapper
{
    padding: 10px;
}
.did-you-know
{
    border-radius: 10px;
    // background: red;
    height: 12vh;
        background: #000000;
    background: linear-gradient(90deg, rgb(0 0 0) 100% 10%, rgb(0 0 0 / 35%) 10%, rgb(0 0 0 / 0%) 10%);
    width: 100%;
    position: relative;
    z-index: 1;
    img
    {
            position: relative;
    z-index: 1;
        object-fit: contain;
        object-position: right;
        width: 100%;
        border-radius: 10px;
        height: 100%;
    }
    .text-overlay
    {
        p
        {
            opacity: 90%;
        }
        padding: 10px;
        position: absolute;
        z-index: 10;
        color: #f5f5f5;
        font-family:$RobotoCondensed,sans-serif;
        font-size: 10px;
        font-weight: 500;
        text-transform: capitalize;
        button
        {
            margin-top: 10px;
            background: #f5f5f5;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            color: #333;
            font-size: 10px;
            font-weight: 600;
            text-transform: capitalize;
            padding: 2px;
            border-radius: 20px;
            padding: 2px 2px 2px 10px;
        }
        span
        {
            background: $darkOrange;
            padding: 5px;
            border-radius: 30px;
        }
    }
}