.country-dropdown {
  position: relative;
  width: 100%;
  max-width: 300px;
  font-family: sans-serif;

  .dropdown-header {
    padding: 10px 12px;
    background: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }

  .dropdown-body {
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 250px;
    overflow-y: auto;
    z-index: 10;

    input {
      width: 100%;
      padding: 8px 10px;
      border: none;
      border-bottom: 1px solid #ccc;
      outline: none;
    }

    .dropdown-list {
      list-style: none;
      padding: 0;
      margin: 0;

      .dropdown-item {
        padding: 10px;
        cursor: pointer;
        // transition: background 0.2s;

        &:hover {
          background: #eee;
        }
      }
    }
  }
}