.country-dropdown {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin-bottom: 1rem;

  label {
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
  }

  .dropdown-header {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    background: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }

  .dropdown-list {
    position: absolute;
    background: #fff;
    border: 1px solid #ccc;
    width: 100%;
    max-height: 200px;
    overflow-y: scroll;
    z-index: 100;
    margin-top: 4px;
    border-radius: 6px;

    .dropdown-item {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }

  .arrow {
    font-size: 0.9rem;
  }
}