@import "../../../styles/variables.scss";

.country-dropdown {
  position: relative;
  width: 100%;
  max-width: 300px;
  font-family: sans-serif;

  .dropdown-header {
    padding: 10px 12px;
    background: $inputBackGround;
    border: 1px solid #eee;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }

  .dropdown-body {
    position: absolute;
    width: 100%;
    background: $page_color;
    border: 1px solid #eee;
    border-top: none;
    max-height: 250px;
    overflow-y: auto;
    z-index: 10;
      animation: slideDown .5s ease-in-out;

    input {
      width: 100%;
      padding: 8px 10px;
      font-family: $textFont, sans-serif;
      border: none;
      border-bottom: 1px solid #eee;
      outline: none;
    }

    .dropdown-list {
      list-style: none;
      padding: 0;
      margin: 0;
      animation: slideDown 0.2s ease-in-out;

      .dropdown-item {
        padding: 10px;
        cursor: pointer;
        &:hover {
          background: #eee;
        }
      }
    }
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
