@import "../../../styles/variables.scss";

.country-dropdown {
  position: relative;
  width: 100%;
  max-width: 300px;
  font-family: $robotoMono,monospace;
  color: $ticketColor;
  border: 1px #1e1e1e solid;

  .dropdown-header {
    padding: 10px 12px;
    background: $inputBackGround;
    border: 1px solid #eee;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    height: 54px;
    font-size: 15px;
    font-weight: 600;
    opacity: 60%;
  }

  .dropdown-body {
    position: absolute;
    width: 300px;
    background: #fff;
    border: 1px solid #eee;
    border-top: none;
    height: auto;
    max-height: 250px;
    overflow-y: auto;
    z-index: 10;
    right:0;
    animation: slideDown 0.5s ease-in-out;

    input {
      width: 100%;
      padding: 8px 10px;
       font-family: $robotoMono,monospace;
      border: none;
      border-bottom: 1px solid #eee;
      outline: none;
    }

    .dropdown-list {
      list-style: none;
      padding: 0;
      margin: 0;
      animation: slideDown 0.2s ease-in-out;

      .dropdown-item {
        padding: 10px;
        cursor: pointer;
        &:hover {
          background: #eee;
        }
      }
    }
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
