.flexInput {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    background: $inputBackGround;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 95%;
    // margin-left: 10px;
    border-radius: 15px;
    height: 60px;
    label {
      color: $deemFontColor;
      font-family: $textFont, sans-serif;
      text-transform: capitalize;
      font-size: 10px;
      font-weight: 600;
      opacity: 70%;
      margin-left: 10px;
    }
    input {
      border: none;
      width: 95%;
      margin-left: 10px;
      height: 30px;
      background: transparent;
      color: $visibleFontColor;
      // font-weight: 600;
      text-transform: capitalize;
    }
    input:focus {
      outline: none;
    }
    input::placeholder {
      margin-left: 20px;
    }
  }
  .flightInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }