@import "../../../styles/variables.scss";

.flexInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  background: $inputBackGround;
  margin-top: 5px;
  border: #333 1px solid;
  width: 100%;
  // margin-left: 10px;
  border-radius: 5px;
  height: 60px;
  label {
    color: $deemFontColor;
    font-family: $robotoMono, monospace;
    text-transform: capitalize;
    font-size: 10px;
    font-weight: 600;
    opacity: 70%;
    margin-left: 10px;
  }
  input {
    border: none;
    width: 95%;
    margin-left: 10px;
    height: 30px;
    font-family: $robotoMono, monospace;
    background: transparent;
    color: $visibleFontColor;
    // font-weight: 600;
    text-transform: capitalize;
  }
  input:focus {
    outline: none;
  }
  input::placeholder {
    margin-left: 20px;
  }
}
.lines
{
  position: relative;
    top: 15px;
    height: 1px;
    left: 10px;
}
.switchBtn {
  position: absolute;
  z-index: 20;
  background: $darkOrange;
  color: $visibleFontColor;
  font-family:$robotoMono, monospace;
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  rotate: 90deg;
  border-radius: 30px;
  // left: 30px;
  right: 10%;
  border: 2px solid $page_color;
  img {
    width: 30px;
  }
}
.flightInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.oneWayStyle {
  background-color: #f9f9f9;
  border-color: #2196f3;
}
.newFlex{
 width: 100%;
}
.dropDown {
  overflow-y: scroll;
  padding: 5px;
  position: absolute;
  border-radius: 5px;
  width: 94%;
  background-color: #f5f5f5;
  border: 1px solid #333;
  height: auto;
  max-height: 70px;
  // overflow-y: auto;
  z-index: 20;
  .dropDown:empty {
    border: none;
    display: none;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    color: $ticketColor;
    text-decoration: none;
    text-overflow: clip;
    list-style: none;
    font-size: 13px;
    font-family:$robotoMono, monospace;
    // font-weight: 600;
    letter-spacing: 1px;
  }
  .dropDownRow {
    display: flex;
    align-items: center;
  }
}
// .changeUi {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   .dropDown {
//     position: absolute;
//     top: 300px;
//     left: 0;
//     width: 100%;
//     z-index: 10;
//   }
// }