@import "../../styles/variables.scss";
.success-payment-container {
  width: 95vw;
  height: 50vh;
  background-color: $ticketColor;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  gap: 20%;
  h3 {
    font-family: $roboto, sans-serif;
    color: #eee;
    font-size: 22px;
    text-transform: capitalize;
    // font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
  }
  p {
    font-family: $roboto, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    color: $page_color;
    font-weight: 100;
    opacity: 80%;
    text-transform: capitalize;
    text-align: center;
  }
  button {
    width: 95%;
    // height: 40px;
    font-family: $roboto, sans-serif;
    font-size: 13px;
    text-transform: capitalize;
    color: $page_color;
    background: #4bd37b;
    padding: 17px 0px;
    border-radius: 5px;
  }
}
.text-container {
  margin-top: 10px;
}
.success-icon-anime {
  background: #4bd37a90;
  padding: 3px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  img {
    width: 70px;
  }
}
