@import "../../../styles/variables.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  margin: 0px;
  font-family: $roboto, sans-serif;
  // color: $blue;
}
.hotel-card {
  background-color: #fff;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  width: 100%;
  align-items: center;
  height: auto;
  max-height: 200px;
  border-radius: 5px;
  overflow: hidden;
  // border: 1px solid #222;
  padding: 2px;
  gap: 5px;
  //   justify-content: space-between;
  margin-top: 5px;
  .hotel-img {
    width: 35%;
    height: 120px;
    // min-height: 10px;
    // background: red;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 3px;
    }
  }
  p {
    color: $text_color;
    font-family: $roboto, sans-serif;
    font-size: 9px;
    font-weight: 500;
    margin: 0;
    line-height: 12px;
    padding: 0;
  }
  .hotel-header {
    display: flex;
    align-items: flex-start;
    // margin-bottom: 10px;
    justify-content: space-between;
    .hotel-name-country {
      h1 {
        font-size: 11px;
        font-weight: 500;
        // color: $text_color;
        font-family: $textFont, sans-serif;
        width: auto;
        max-width: 145px;
        opacity: 95%;
        line-height: 12px;
      }
      h4 {
        font-weight: 500;
        font-size: 10px;
        font-family: $roboto, sans-serif;
        color: $text_color;
      }
    }
  }
  .amenities-price {
    display: flex;
    align-items: end;
    justify-content: space-between;

    width: 100%;
    // background: red;
    h2 {
      font-family: $robotoMono, sans-serif;
      font-size: 11px;
      font-weight: 700;
    }
  }
}
.off {
  font-size: 8px;
}

.hotel-data {
  display: flex;
  width: 63%;
  height: 115px;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}
.price {
  h5 {
    font-family: $robotoMono, sans-serif;
    font-weight: 700;
    font-size: 8px;
    opacity: 80%;
    color: $text_color;
  }
}
.browseBtn {
    background: $actionOrange;
    font-family: Roboto, 'Roboto';
    font-size: 10px;
    color: #fefefe;
    font-weight: 400;
    text-transform: capitalize;
    padding: 5px 10px;
    border-radius: 5px;
}

.offer {
  h4 {
    font-family: $robotoMono, monospace;
    font-size: 9px;
    color: $blue;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0px;
  }
}
.center-info
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  h4,h5
  {
    color: $darkOrange;
    font-size: 10px;
    font-family: $robotoMono,monospace;
    font-weight: 600;
    text-transform: capitalize;
  }
  h5
  {
    color: #1ee72c;
  }
}