@import "../../styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

$roboto_mono: "Roboto Mono", monospace;
$roboto_flex: "Roboto Flex", sans-serif;
$poppins_font: "Poppins", sans-serif;
$babas_nue: "Bebas Neue", sans-serif;

.travel-date {
  margin-top: 40px;
  background: $ticketColor;
  width: fit-content;
  padding: 5px 7px;
  border-radius: 5px;
  h4 {
    font-family: $roboto_flex;
    color: $page_color;
    font-size: 10px;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
}

.flight {
  background: #fcfcfc;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 98vw;
  margin-top: 40px;
  // border: 1px solid #0e0e0e;
  padding: 5px;
  border-radius: 10px;
  .flight-header {
    display: flex;
    width: 100%;
    align-items: center;
    // background: red;
    justify-content: space-between;
    padding: 4px;
  }
  .airline-details {
    h4 {
      font-size: 14px;
      font-family: $roboto_flex;
      text-transform: capitalize;
      color: #323030;
      margin-bottom: 10px;
      font-weight: 500;
    }
    h3 {
      font-family: $roboto_flex;
      text-transform: capitalize;
      color: #323030;
      font-size: 10px;
      opacity: 80%;
      font-weight: 400;
      // font-weight: 2s00;
    }
  }
  .hide-flag {
    // display: none;
    position: relative;
    top: -17px;
    padding: 3px 5px;
    border-radius: 2px;
    background-color: #ffd91c;
    h4 {
      font-size: 9px;
      font-family: $roboto_flex;
      text-transform: capitalize;
      font-weight: 400;
      letter-spacing: 0.3px;
      color: #323030;
      // opacity:100%;
    }
  }
  .airline-logo {
    width: 140px;
  }
}

.trip-data {
  display: flex;
  align-items: center;
  gap: 10px;
  h3 {
    font-family: $roboto_flex;
    font-weight: 500;
    color: #323030;
    text-transform: capitalize;
    font-size: 12px;
  }
  .terminal {
    font-size: 10px;
    font-weight: 300;
    opacity: 80%;
  }
}
.reviewFlight {
  .ticket-header {
    width: 100%;
    h2 {
      color: #323030;
      font-family: $babas_nue;
      font-size: 50px;
    }
    h5 {
      margin-top: 5px;
      color: #323030;
      font-family: $roboto_mono;
      font-weight: 400;
    }
  }
}
.flight-time {
  display: flex;
  align-items: center;
  gap: 10px;
  align-items: center;
  margin-top: 14px;
  margin-bottom: 14px;
  h5 {
    font-family: $roboto_flex;
    color: #323030;
    text-transform: capitalize;
    font-size: 12px;
  }
  .terminal {
    font-size: 10px;
    font-weight: 300;
    opacity: 80%;
  }
}
.border-line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.trip-ameneties {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
  h6 {
    font-family: $roboto_flex;
    color: #339dbb;
    text-transform: capitalize;
    font-size: 9px;
    font-weight: 600;
  }
}
.travel-date {
  display: flex;
  gap: 10px;
  align-items: center;
  img {
    height: 20px;
  }
}
.flight-data-container {
  img {
    height: 80px;
  }
  display: flex;
  align-items: center;
  gap: 10px;
}
