@import "../../styles/variables.scss";

.travel-date {
  background: $ticketColor;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 5px;
  h4 {
    font-family: $roboto, sans-serif;
    color: $page_color;
    font-size: 10px;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
}

.flight {
  background: #fcfcfc;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  width: 98vw;
  margin-top: 10px;
  // border: 1px solid #0e0e0e;
  padding: 5px;
  border-radius: 10px;

  .flight-header {
    display: flex;
    width: 100%;
    align-items: center;
    // background: red;
    justify-content: space-between;
    padding: 4px;
  }
  .airline-details {
    h4 {
      font-size: 14px;
      font-family: $roboto, sans-serif;
      text-transform: capitalize;
      color: #323030;
      margin-bottom: 10px;
    }
    h3 {
      font-family: $roboto, sans-serif;
      text-transform: capitalize;
      color: #323030;
      font-size: 10px;
      opacity: 80%;
      // font-weight: 2s00;
    }
  }
  .hide-flag {
    // display: none;
    position: relative;
    top: -17px;
    padding: 3px 5px;
    border-radius: 2px;
    background-color: #ffd91c;
    h4 {
      font-size: 8px;
      font-family: $roboto, sans-serif;
      text-transform: capitalize;
      font-weight: 600;
      // letter-spacing: 0.3px;
      color: #323030;
      opacity: 80%;
    }
  }
  .airline-logo {
    width: 140px;
  }
}

.trip-data {
  display: flex;
  align-items: center;
  gap: 10px;
  h3 {
    font-family: $roboto, sans-serif;
    color: #323030;
    text-transform: capitalize;
    font-size: 12px;
  }
}
.flight-time {
  display: flex;
  align-items: center;
  gap: 10px;
  align-items: center;
  margin-top: 14px;
  margin-bottom: 14px;
  h5 {
    font-family: $roboto, sans-serif;
    color: #323030;
    text-transform: capitalize;
    font-size: 12px;
  }
}
.border-line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.trip-ameneties {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  margin-top: 10px;
  margin-bottom: 10px;
  h6 {
    font-family: $roboto, sans-serif;
    color: #339dbb;
    text-transform: capitalize;
    font-size: 9px;
  }
}
.travel-date
{
  display: flex;
  gap: 10px;
  align-items: center;
  img
  {
    height: 20px;
  }
}
.flight-data-container {
  img {
    height: 80px;
  }
  display: flex;
  align-items: center;
  gap: 10px;
}
