@import '../../styles/variables.scss';

.travel-date
{
    background: $ticketColor;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 5px;
    h4
    {
        font-family: $roboto,sans-serif;
        color: $page_color;
        font-size: 10px;
        text-transform: capitalize;
        letter-spacing: 1px;
    }
}

.flight
{
    background: #fcfcfc;
    width: 98vw;
    margin-top: 10px;
    border: 1px solid #0e0e0e;
    padding: 5px;
    border-radius: 10px;
}