@import "../../styles/variables.scss";
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.home {
  height: 100vh;
  background: $page_color;
}
.home-contents {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  p {
    font-family: $RobotoCondensed, sans-serif;
    font-size: 30px;
    color: $ticketColor;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 40px;
    opacity: 0.9;
  }
  span {
    color: $darkOrange;
  }
}
.items-list {
  height: 40vh;
  width: 100%;
  // background: green;
  display: flex;
  align-items: center;
  //   justify-content: space-between;
  gap: 20px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  //   perspective: 10px;
  .item-to-do {
    flex: auto 0 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    // background-color: red;
    img {
      width: 100%;
      border-radius: 10px;
      height: 100%;
      object-fit: cover;
      position: relative;
      z-index: 1;
    }
    h1 {
      font-family: $cityFont, sans-serif;
      color: $page_color;
      font-size: 60px;
      position: relative;
      bottom: 360px;
      z-index: 10;
      left: 10px;
      line-height: 60px;
    }
  }
}

.quick-links-wrapper {
  h5 {
    font-size: 20px;
    font-family: $robotoMono, monospace;
    font-weight: 600;
    text-transform: capitalize;
    margin-left: 5px;
    color: $deemFontColor;
  }
}
.quick-links {
  display: flex;
  gap: 10px;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 10px 0;
  width: 100%;
  .quick-link {
    flex: auto 0 0;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #fff;
    border-radius: 30px;
    padding: 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    h4 {
      font-family: $robotoMono, monospace;
      font-size: 15px;
      font-weight: 500;
      color: $deemFontColor;
    }
    .link-icon {
      width: 30px;
      height: 30px;
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
  }
}

// place to visit
.places-to-visit-wrapper {

  h5 {
    font-size: 20px;
    font-family: $robotoMono, monospace;
    font-weight: 600;
    text-transform: capitalize;
    margin-left: 5px;
    color: $deemFontColor;
  }
}
.places-to{
    display: flex;
    align-items: center;
    overflow-x: auto;
    justify-content: space-between;
     scroll-snap-type: x mandatory;
     gap: 20px;
}
.place-to-visit {
        scroll-snap-align: start;
        width: 100%;
  margin-top: 10px;
  flex: auto 0 0;
  background: #fff;
  padding: 5px;
  border-radius: 10px;
  height: 30vh;

  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  .place-img {
    height: 80%;
    width: 100%;
    img {
      object-fit: cover;
      object-position: center 10%;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      position: relative;
      z-index: 1;
    }

    .foreGround {
      position: relative;
      z-index: 10;
        // transform: translateZ(-1px) scale(1.1);
      bottom: 297px;
    }
    .gorrila
    {
        bottom: 380px;
    }
    h4 {
      font-family: $cityFont, sans-serif;
      color: $page_color;
      font-size: 100px;
      position: relative;
        right: 10%;
      bottom: 210px;
      z-index: 10;
      left: 10px;
      line-height: 80px;
    }
  }
}
