@import "../../../styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

$roboto_mono: "Roboto Mono", monospace;
$roboto_flex: "Roboto Flex", sans-serif;
$poppins_font: "Poppins", sans-serif;
$babas_nue: "Bebas Neue", sans-serif;

.flightContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100vw;
  // overflow-x: scroll;
}
.flights-res {
  // background: url("../assets/images/ticketBG\ \(1\).png");
  background: $ticketColor;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin-left: 5px;
  flex-direction: column;
  align-items: center;
  background-position: center;
  width: 420px;
  height: 210px;
  color: $page_color;
  position: relative;
  box-shadow: 0px 24px 15px -3px rgba(1, 1, 1, 0.253);
  z-index: 10;
  border-radius: 20px;
  margin-top: 20px;
}

.flights-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  // gap: 20px;
  font-family: $roboto_mono;
  font-size: 10px;
  width: 92vw;
  height: 50px;
  // font-weight: 1;
  h4 {
    font-size: 11px;
    font-weight: 400;
    font-family: $roboto_mono;
  }
  .airLineIcone {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
  }
  .icon {
    background: $page_color;
    width: 140px;
    height: 30px;
    overflow: hidden;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 120px;
      height: 100px;
    }
  }
}
.ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // gap: 10px;
  font-family: $textFont, sans-serif;
  color: $page_color;
  width: 95%;
  h2 {
    text-transform: uppercase;
    font-family: $babas_nue, sans-serif;
    font-weight: 100;
    font-size: 50px;
    height: 55px;
    color: $page_color;
  }
  h3 {
    text-transform: lowercase;
    font-family: $roboto_mono;
    font-weight: 700;
    font-size: 10px;
    color: $visibleFontColor;
  }
  h5 {
    font-family: $roboto_mono;
    font-size: 10px;
    font-weight: 400;
    // margin-top: 3px;
    margin-bottom: 2px;
  }
}
.flights-actions {
  display: flex;
  justify-content: space-between;
  font-family: $textFont, sans-serif;
  font-size: 10px;
  // background: #3653d5;
  align-items: center;
  margin-top: 10px;
  width: 95%;
  .time-details {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .flex-tim {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: $page_color;
    padding: 5px 10px;
    border-radius: 15px;
    color: $deemFontColor;
    h4 {
      font-family: $roboto_flex;
      font-size: 10px;
      font-weight: 600;
      font-size: 10px;
    }
  }
  .price-details h4 {
   font-family: $poppins_font;
    font-size: 15px;
    font-weight: 500;
    span {
      font-size: 10px;
      font-weight: -800;
    }
  }
}
.actions {
  display: flex;
  gap: 10px;
  align-items: center;
  button {
    font-size: 10px;
    border-radius: 30px;
    border: none;
    text-transform: capitalize;
    font-family: $poppins_font;
    font-weight: 400;
    padding: 5px 10px;
    color: $page_color;
  }
  .bookBtn {
    background: $actionOrange;
  }
  .detailsBtn {
    background: $actionBlue;
  }
}
.FlightResult-header {
  color: $deemFontColor;
  // background: $deemFontColor;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  h2 {
    color: $visibleFontColor;
  }
  h5 {
    color: $visibleFontColor;
  }
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    font-size: 10px;
    font-weight: 200;
  }
}
.flightsDetails {
  position: relative;
  height: 190px;
  overflow-x: hidden;
  width: 99%;
  left: 5px;
  background: #202020;
  border-radius: 0px 0px 20px 20px;
  bottom: 20px;
}
.stopOvers {
  position: absolute;
  top: 20px;
  left: px;
  width: 100%;

  .stopFlight {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $textFont, sans-serif;
    color: $page_color;
    width: 95%;
  }
  .stops-details {
    display: flex;
    position: relative;
    align-items: center;
    height: 125px;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
      .border {
    margin: 15px 0px 0px 0px;
}
  }
    .ticket-header
  {
    h2
    {
      height: 35px;
    }
  }
  h2 {
    font-size: 25px;
    // margin-bottom: 1px;
  }
  h5 {
    font-size: 10px;
    margin-bottom: 0px;
  }
  
}
.flightsDetails.open {
  max-height: 200px;
}
.stop-details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110%;
  height: 30px;
  gap: 10px;
  position: relative;

  // top: -10px;
  // left: 10px;
  
  color: $page_color;
  h5 {
    //   margin: 0px 10px 0px 10px;
    font-size: 10px;
    font-family: $roboto_mono;
    // letter-spacing: 0.3px;
    font-weight: 200;
  }
}

.Alldetails {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  position: relative;
  top: 150px;
  h5 {
    background: #f5f7f8;
    padding: 5px 7px;
    margin: 0;
    text-transform: capitalize;
    border-radius: 15px;
    font-family: $roboto_mono;
    font-size: 10px;
    font-weight: 400;
  }
}
// overlayUpsell
.brandedUpsell {
  background: $ticketColor;
  height: 100vh;
  width: 98vw;
  color: $page_color;
  font-family: $textFont, sans-serif;
  position: absolute;
  z-index: 30;
  top: 4px;
  .upsellContent {
    height: 100%;
    width: 100%;
    background: $page_color;
    position: relative;
  }
  .closeBtn {
    background: $ticketColor;
    position: absolute;
    width: 40px;
    font-size: 15px;
    height: 40px;
    border-radius: 20px;
  }
}
.overlay {
  padding: 10px;
  background-color: $page_color;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  position: absolute;
  z-index: 40;
  top: 0;
  .funcContainer {
    button {
      background: $actionOrange;
      padding: 5px 15px;
      border-radius: 15px;
      border: none;
      font-family: $textFont, sans-serif;
      color: $page_color;
      text-transform: capitalize;
    }
  }
}
.flightDealsHeader {
  margin-bottom: 20px;
  width: 100%;
  h2 {
    color: $visibleFontColor;
  }
  h5 {
    color: $visibleFontColor;
  }
}
.flightDealContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $ticketColor;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  // height: 280px;
  // overflow-y: scroll;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  .flights-actions {
    width: 100%;
    .price-details {
      h4 {
        color: $page_color;
      }
      span {
        font-weight: 100;
      }
    }
  }
  // .ticket-header {
  //   width: 100%;
  // }
  .flights-header {
    width: 100%;
    color: $page_color;
    h3 {
      text-transform: capitalize;
      color: #59f763;
    }
  }
  .lineNew {
    margin-top: 5px;
    h6 {
      margin: 0;
      padding: 0;
    }
    text-align: center;
    color: $page_color;
    font-family: $textFont, sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
  }
}

.upsell
{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  h2
  {
    color: $visibleFontColor;

  }
}

 .flights-res::before,
.flights-res::after {
  content: "";
  position: absolute;
  top: 75%;
  width: 20px;
  height: 20px;
  background-color: $page_color;
  border-radius: 50%;
  transform: translateY(-50%);
}

.flights-res::before {
  left: -10px;
}

.flights-res::after {
  right: -10px;
}
.border
{
  margin: 15px 0px 10px 0px;
}
// .flightDealContainer::before,
// .flightDealContainer::after {
//   content: "";
//   position: absolute;
//   top: 42%;
//   width: 20px;
//   height: 20px;
//   background-color: $page_color;
//   border-radius: 50%;
//   transform: translateY(-50%);
// }

// .flightDealContainer::before {
//   left: -10px;
// }

// .flightDealContainer::after {
//   right: -10px;
// }

.itemContainer {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-bottom: 2px;
  gap: 10px;
  img {
    width: 12px;
  }
  li {
    font-family: $textFont, sans-serif;
    color: $page_color;
    text-transform: uppercase;
    list-style: none;
    font-size: 10px;
  }
}
.detailsSect {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2px;
  img
  {
    width: 15px;
  }
  li
  {
    list-style: none;
    color: $page_color;
    font-family: $textFont,sans-serif;
    font-size: 10px;
    // text-align: start;
  }
}
.flightDetails {
  margin-top: 0px;
  display: grid;
  overflow-y: scroll;
  gap: 10px;
  // height: 70px;
  grid-template-columns: repeat(2, 1fr);
}
.container
{
  width: 100%;
  // gap: 100px;
  gap: 5%;
  display: flex;
  align-items: center;
  overflow-y: scroll;
  justify-content: space-evenly;
}