@import '../../../styles/variables.scss';

.flights-res {
  // background: url("../assets/images/ticketBG\ \(1\).png");
  background: $ticketColor;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  width: 420px;
  height: 180px;
  color: $page_color;
  position: relative;
  box-shadow: 0px 24px 15px -3px rgba(1, 1, 1, 0.253);
  z-index: 10;
  border-radius: 20px;
  margin-top: 20px;
}

.flights-header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    // gap: 20px;
    font-family: $textFont, sans-serif;
    font-size: 10px;
    width: 95%;
    height: 50px;
    font-weight: 10;
    h4
    {
      font-size: 10px;
      font-weight: 100;
    }
    .airLineIcone {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 40px;
    }
    .icon {
      background: $page_color;
      width: 140px;
      height: 30px;
      overflow: hidden;
      border-radius: 30px;
      display:  flex;
      justify-content: center;
      align-items: center;
      img
      {
        width: 120px;
        height: 100px;
      }
    }
  }
  .ticket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // gap: 10px;
    font-family: $textFont, sans-serif;
    color: $page_color;
    width: 95%;
    h2 {
      text-transform: uppercase;
      font-family: $cityFont, sans-serif;
      font-weight: 400;
      font-size: 35px;
      color: $page_color;
    }
    h3 {
      text-transform: lowercase;
      font-family: $textFont, sans-serif;
      font-weight: 500;
      font-size: 10px;
      color: $visibleFontColor;
    }
    h5 {
      font-size: 10px;
      font-weight: 100;
      margin-bottom: 2px;
    }
  }
  .flights-actions {
    display: flex;
    justify-content: space-between;
    font-family: $textFont, sans-serif;
    font-size: 10px;
    // background: #3653d5;
    align-items: center;
    margin-top: 10px;
    width: 95%;
    .time-details {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .flex-tim {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background: $page_color;
      padding: 5px 10px;
      border-radius: 15px;
      color: $deemFontColor;
      h4
      {
        font-family: $textFont,sans-serif;
        font-size: 10px;
        font-weight: 200;
        font-size: 10px;
      }
    }
    .price-details h4 {
        font-family: $textFont,sans-serif;
      font-size: 15px;
      font-weight: 500;
      span
      {
        font-size: 10px;
        font-weight: -800;
      }
    }
  }
  .actions {
    display: flex;
    gap: 10px;
    align-items: center;
    button {
      font-size: 10px;
      border-radius: 30px;
      border: none;
      text-transform: capitalize;
      font-family: $textFont,sans-serif;
      font-weight: 100;
      padding: 5px 10px;
      color: $page_color;
    }
    .bookBtn {
      background: $actionOrange;
    }
    .detailsBtn {
      background: $actionBlue;
    }
  }
  .FlightResult-header {
    color: $deemFontColor;
    // background: $deemFontColor;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    h2 {
      color: $visibleFontColor;
    }
    h5 {
      color: $visibleFontColor;
    }
  }
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    h4
    {
        font-size: 10px;
        font-weight: 200;
    }
  }
  .flightsDetails {
    position: relative;
    height: 190px;
    overflow-x: hidden;
    width: 100%;
    background: #202020;
    border-radius: 0px 0px 20px 20px;
    bottom: 20px;
  }
  .stopOvers {
    position: absolute;
    top: 20px;
    left: px;
    width: 100%;
  
    .stopFlight {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: $textFont, sans-serif;
      color: $page_color;
      width: 95%;
    }
    .ticket-header
    {
      display: flex;
      position: relative;
      height: 125px;
      flex-direction: column;
    }
    h2 {
      font-size: 17px;
      margin-bottom: 5px;
    }
    h5 {
      font-size: 8px;
      margin-bottom: 0px;
    }
  }
  .line
  {
    h5
    {
      font-size: 15px;
    }
  }
  .flightsDetails.open {
    max-height: 200px;
  }
  .stop-details
  {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 110%;
      height: 30px;
      gap: 10px;
      position: relative;
      top: -10px;
      left: 10px;
      h5
      {
        //   margin: 0px 10px 0px 10px;
          font-size: 10px;
          font-family: $textFont, sans-serif;
          font-weight: 10;
      }
  }
  .lineOne
  {
      color: $page_color;
      letter-spacing: 4px;
      position: relative;
      left: -1px;
      text-align: center;
      width: 100%;
      h5
      {
          text-align:center;
          margin: 0;
      }
  }
  .line
  {
      // background: #c8c1c1;
      // margin-top: 30px;
      position: relative;
      top: 127px;
      color: $page_color;
      letter-spacing: 4px;
      text-align: center;
  }
  .Alldetails
  {
      display: flex;
      justify-content: center;
      gap: 5px;
      align-items: center;
      position: relative;
      top: 135px;
      h5
      {
          background: #F5F7F8;
          padding: 5px 7px;
          margin: 0;
          text-transform: capitalize;
          border-radius: 15px;
          font-family: $textFont, sans-serif;
          font-size: 10px;
          font-weight: 100;
      }
  }
  // overlayUpsell
  .brandedUpsell
  {
    background: $ticketColor;
    height: 99vh;
    width: 98vw;
    color: $page_color;
    font-family: $textFont,sans-serif;
    position: absolute;
    z-index: 30;
    top: 4px;
    .upsellContent
    {
      height: 100%;
      width: 100%;
      background: $page_color;
    }
  }