@import "../../../styles/variables.scss";
@media only screen and (max-width: 600px) {
  .cutout-box {
    // background-image: url("../../../assets/images/bgimage.jpg");
    // background-position: center;
    // background-size: cover;
    // background-repeat: no-repeat;
    background-color: $ticketColor;
    // background-blend-mode: overlay;
    padding: 5px;
    border-radius: 15px;
    width: 96vw;
  }
  .cutout-box::before,
  .cutout-box::after {
    content: "";
    position: absolute;
    top: 33%;
    width: 25px;
    height: 25px;
    background-color: $page_color;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  .cutout-box::before {
    left: -3px;
  }

  .cutout-box::after {
    right: -3px;
  }
  .flights {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $page_color;
    height: 100vh;
    width: 100vw;
    .flights-console {
      display: flex;
      flex-direction: column;
      gap: 5%;
      margin-top: 40px;
      align-items: center;
    }
  }

  select:focus {
    outline: none;
  }
  option {
    font-weight: 600;
    display: block;
    padding-block-start: 0px;
    padding-block-end: 1px;
    min-block-size: 1.2em;
    padding-inline: 2px;
    white-space: nowrap;
  }

  // .calender {
  //   border-radius: 5px;
  //   background: $inputBackGround;
  //   input {
  //     width: 95%;
  //     border-radius: 10px;
  //     margin-left: 10px;
  //     background: $inputBackGround;
  //   }
  //   label {
  //     margin-left: 10px;
  //   }
  // }

  .calendersUI {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .oneWayStyle {
    width: 100%;
    border-radius: 5px;
    input {
      width: 95%;
    }
  }

  // passenger
  .passenger-selector {
    position: relative;
    /* display: inline-block; */
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: $textFont, sans-serif;
    font-weight: 600;
    color: $deemFontColor;
  }

  .dropdown-header {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 3px 0px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: 15px;
    }
  }

  .dropdown-content {
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 12px;
    border-radius: 10px;
    z-index: 1;
    top: 50px;
    margin-top: 10px; /* to create some space below the button */
  }

  // .passenger-type {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   margin-bottom: 8px;
  // }

  .passenger-type button {
    background-color: $actionOrange;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .passenger-type button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .arrow {
    margin-left: 10px;
  }

  .dropdown-content span {
    font-size: 16px;
    margin: 0 10px;
  }

  .seatType {
    display: flex;
    align-items: center;
    // margin-top: 2px;
    justify-content: center;
    position: relative;
    margin-bottom: 5px;
    z-index: 2;
    gap: 5px;
    margin-top: 5px;
    // background: #007bff;
  }
  .seatClass {
    display: flex;
    flex-direction: column;
    background: $inputBackGround;
    // gap: 5px;
    height: 60px;
    width: 100%;
    border-radius: 5px;
    font-family: $textFont, sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    select {
      background: transparent;
      border: none;
      margin-left: 10px;
      text-transform: capitalize;
      color: $visibleFontColor;
      font-weight: 600;
      font-size: 14px;
      // margin-top: 7px;
      width: 160px;
    }
    select:focus {
      outline: none;
    }
    label {
      margin-left: 10px;
      font-size: 15px;
      color: $deemFontColor;
      margin-top: 5px;
    }
  }
  .btn-submit {
    text-align: center;
    color: $visibleFontColor;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 5px 5px 13px 13px;
    border: none;
    font-family: $textFont, sans-serif;
    padding: 12px 120px;
    background: $page_color;
    width: 100%;
    font-weight: 200;
  }
}
.swipes {
  .swiper {
    width: 415px;
    // background: #313030;
    padding: 5px;
    height: 240px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 400px;
    height: 240px;
    border-radius: 10px;
    //   background: #007bff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }
}
// .inputTwo
// {
//   .dropDown
//   {
//     top: 50px;
//     z-index: 100;
//   }
// }
