@import "../../../styles/variables.scss";
@media only screen and (max-width: 600px) {

  .cutout-box
  {
    background: $ticketColor;
    padding: 5px;
  }
  // .cutout-box::before,
  // .cutout-box::after {
  //   content: "";
  //   position: absolute;
  //   top: 50%;
  //   width: 25px;
  //   height: 25px;
  //   background-color: $page_color;
  //   border-radius: 50%;
  //   transform: translateY(-50%);
  // }

  // .cutout-box::before {
  //   left: -12px;
  // }

  // .cutout-box::after {
  //   right: -12px;
  // }
  .flights {
    position: relative;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    .flights-console {
      display: flex;
      flex-direction: column;
      gap: 5%;
      align-items: center;
    }
  }

  select:focus {
    outline: none;
  }
  option {
    font-weight: 600;
    display: block;
    padding-block-start: 0px;
    padding-block-end: 1px;
    min-block-size: 1.2em;
    padding-inline: 2px;
    white-space: nowrap;
  }

  .calender {
    width: 190px;
    border-radius: 10px;
    background: $inputBackGround;
    input {
      width: 150px;
      border-radius: 10px;
      margin-left: 20px;
      background: $inputBackGround;
    }
    label {
      margin-left: 20px;
    }
  }

  .calendersUI {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .oneWayStyle {
    width: 95%;
    border-radius: 10px;
    input {
      width: 90%;
    }
  }

  // passenger
  .passenger-selector {
    position: relative;
    /* display: inline-block; */
    width: 190px;
    display: flex;
    flex-direction: column;
    font-family: $textFont, sans-serif;
    font-weight: 600;
    color: $deemFontColor;
  }

  .dropdown-header {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 3px 0px;
    border-radius: 5px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: 15px;
    }
  }

  .dropdown-content {
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 12px;
    border-radius: 10px;
    z-index: 1;
    top: 50px;
    margin-top: 10px; /* to create some space below the button */
  }

  // .passenger-type {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   margin-bottom: 8px;
  // }

  .passenger-type button {
    background-color: $actionOrange;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .passenger-type button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .arrow {
    margin-left: 10px;
  }

  .dropdown-content span {
    font-size: 16px;
    margin: 0 10px;
  }

  .seatType {
    display: flex;
    align-items: center;
    // margin-top: 2px;
    justify-content: center;
    position: relative;
    margin-bottom: 5px;
    z-index: 2;
    gap: 10px;
    // background: #007bff;
  }
  .seatClass {
    display: flex;
    flex-direction: column;
    background: $inputBackGround;
    // gap: 5px;
    height: 60px;
    width: 190px;
    border-radius: 10px;
    font-family: $textFont, sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    select {
      background: transparent;
      border: none;
      margin-left: 15px;
      text-transform: capitalize;
      color: $visibleFontColor;
      font-weight: 600;
      font-size: 14px;
      // margin-top: 7px;
      width: 160px;
    }
    select:focus {
      outline: none;
    }
    label {
      margin-left: 20px;
      font-size: 15px;
      color: $deemFontColor;
      margin-top: 5px;
    }
  }
  .btn-submit {
    text-align: center;
    color: $page_color;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 5px 5px 20px 20px;
    margin-top: 5px;
    border: none;
    font-family: $textFont, sans-serif;
    padding: 13px 120px;
    background: $ticketColor;
    width: 95%;
    font-weight: 200;
    border: 2px solid $page_color;
  }
  .btn-submit:hover {
    background: $page_color;
    color: $visibleFontColor;
  }
  input:focus {
    background: transparent;
  }
}
.swipes {
  .swiper {
    width: 415px;
    // background: #313030;
    padding: 5px;
    height: 240px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 400px;
    height: 240px;
    border-radius: 10px;
    //   background: #007bff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }
}
// .inputTwo
// {
//   .dropDown
//   {
//     top: 50px;
//     z-index: 100;
//   }
// }
