@import "../../../styles/variables.scss";
@media only screen and (max-width: 600px) {
  .cutout-box {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: 1px solid #333;
    width: 96vw;
  }
  .cutout-box::before,
  .cutout-box::after {
    content: "";
    position: absolute;
    top: 33.5%;
    width: 25px;
    height: 25px;
    background-color: $page_color;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  .cutout-box::before {
    left: -3px;
  }

  .cutout-box::after {
    right: -3px;
  }
  .flights {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $page_color;
    height: 100vh;
    width: 100vw;
    .flights-console {
      display: flex;
      flex-direction: column;
      gap: 5%;
      margin-top: 40px;
      align-items: center;
    }
    .flight-calendar {
      width: 100%;
      margin: 30px  0px 0px 0px;
    }
    .flight-calendar__input-field
    {
      border: 1px solid #333;
    }
  }

  select:focus {
    outline: none;
  }
  option {
    font-weight: 600;
    display: block;
    padding-block-start: 0px;
    padding-block-end: 1px;
    min-block-size: 1.2em;
    padding-inline: 2px;
    white-space: nowrap;
  }

  // .calender {
  //   border-radius: 5px;
  //   background: $inputBackGround;
  //   input {
  //     width: 95%;
  //     border-radius: 10px;
  //     margin-left: 10px;
  //     background: $inputBackGround;
  //   }
  //   label {
  //     margin-left: 10px;
  //   }
  // }

  .calendersUI {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .oneWayStyle {
    width: 100%;
    border-radius: 5px;
    input {
      width: 95%;
    }
  }

  // passenger
  .passenger-selector {
    position: relative;
    /* display: inline-block; */
    width: 100%;
    display: flex;
    border: 1px #333 solid;
    border-radius: 5px;
    flex-direction: column;
    font-family: $textFont, sans-serif;
    font-weight: 600;
    color: $deemFontColor;
  }

  .dropdown-header {
    background-color: $inputBackGround;
    padding: 3px 0px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    // transition: all 0.2s ease;
    span {
      font-size: 15px;
      font-weight: 500;
      color: $visibleFontColor;
      // opacity: 60%;
      font-family: $robotoMono, monospace;
    }
  }

  .dropdown-content {
    animation: slideDown 0.3s ease-in-out;
    position: absolute;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 12px;
    border-radius: 10px;
    z-index: 1;
    top: 50px;
    margin-top: 10px; /* to create some space below the button */
  }
  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  // .passenger-type {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   margin-bottom: 8px;
  // }
  .passenger-label {
    margin-bottom: 10px;
  }

  .passenger-type button {
    background-color: $actionOrange;
    border-radius: 5px;
    cursor: pointer;
  }

  .passenger-type button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .arrow {
    margin-left: 10px;
  }

  .dropdown-content span {
    font-size: 16px;
    margin: 0 10px;
  }

  .seatType {
    display: flex;
    align-items: center;
    // margin-top: 2px;
    justify-content: center;
    position: relative;
    margin-bottom: 5px;
    // z-index: 2;
    gap: 5px;
    // background: #007bff;
  }
  .seatClass {
    display: flex;
    flex-direction: column;
    background: $inputBackGround;
    border: 1px solid #333;
    // gap: 5px;
    height: 60px;
    width: 100%;
    border-radius: 5px;
    font-family: $robotoMono, monospace;
    text-transform: capitalize;
    font-weight: 600;
    select {
      background: transparent;
      border: none;
      margin-left: 10px;
      text-transform: capitalize;
      color: $visibleFontColor;
      font-weight: 600;
      font-size: 14px;
      // margin-top: 7px;
      width: 160px;
    }
    select:focus {
      outline: none;
    }
    label {
      margin-left: 10px;
      font-size: 15px;
      color: $deemFontColor;
      margin-top: 5px;
    }
  }
  .btn-submit {
    text-align: center;
    color: $inputBackGround;
    background: $darkOrange;
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 5px 5px 13px 13px;
    border: none;
    height: 55px;
    font-family: $robotoMono, monospace;
    padding: 12px 120px;
    width: 100%;
    font-weight: 500;
    border: none;
  }
}

.swipes {
  .swiper {
    width: 415px;
    // background: #313030;
    padding: 5px;
    height: 240px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 400px;
    height: 240px;
    border-radius: 10px;
    //   background: #007bff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }
}
// .inputTwo
// {
//   .dropDown
//   {
//     top: 50px;
//     z-index: 100;
//   }
// }
.flex-option {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 1px;
  height: 50px;
  background: $inputBackGround;
  position: relative;
}
.btn-flex {
  padding: 10px 25px;
  text-transform: capitalize;
  position: relative;
  z-index: 2; // make sure it's above the sliding bg
  cursor: pointer;
  input {
    position: absolute;
    z-index: 30;
    opacity: 1%;
  }
  label {
    font-size: 15px;
    position: relative;
    z-index: 20;
    font-family: $textFont, sans-serif;
  }
}

.trav {
  position: relative;
}
.actives {
  background: $darkOrange;
  width: 115px;
  height: 45px;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 5px;
  transition: all 0.3s ease;
  z-index: 1;
}

.click-option-label {
  color: #888;

  &.active {
    color: $page_color; // or any highlight color
  }
}

// multicity-flights
.multicity-flight {
  background-color: #fff;
  border: 1px solid #333;
  padding: 4px;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h4
  {
    font-family: $robotoMono,monospace;
    font-size: 12px;
    text-transform: capitalize;
    color: #333;
    font-weight: 500;
  }
  .flight-calendar 
  {
    margin-top: 5px;
  }
  .flightInputs {
    width: 100%;
  }
  .multicity-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 99%;
    font-family: $textFont;
    color: $page_color;
    text-transform: capitalize;
    font-size: 15px;
    button {
      padding: 4px 6px;
      background-color: $actionBlue;
      border-radius: 13px;
      text-transform: capitalize;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
.backUpBlock {
  height: 10vh;
  width: 100%;
  background-color: transparent;
}
.funcBTN {
  background: $actionOrange;
}
.function-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

// #active
// {
//   position: absolute;
//   background:red;
//   width: 40px;
//   height: 98%;
//   left: 15px;
// }
// .flex-option .btn-flex:nth-child(1):hover~#active
// {
//    left: 300px;
// }
