@import "../../../../styles/variables.scss";
$orange: #e88d67;
$black: #222;

.hotelform {
  margin-top: 30px;
  border: 1px solid #222;
  border-radius: 10px;
  width: 95vw;
  background-color: #fff;
  padding: 5px;
  .flight-calendar__dropdown {
    width: 350px;
  }
  .btn-sub {
    color: $inputBackGround;
    text-transform: lowercase;
    font-family: $roboto, sans-serif;
    background: $ticketColor;
    border-radius: 10px;
    width: 100%;
    border: none;
    height: 50px;
    width: 100%;
    margin-top: 5px;
  }
}
.guests {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.flight-calendar__input-field {
  height: 50px;
  border: 1px #222 solid;
  padding: 0;
  width: 100%;
  font-family: $roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.flight-calendar__input {
  width: 100%;
}
.flight-calendar__input-icon {
  display: none;
}
.flight-calendar {
  margin-top: 0;
  width: 50%;
  height: 50px;
}
.form-header {
  h1 {
    font-family: $roboto, sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 35px;
    margin: 0;
    padding: 0;
    color: $black;
  }
  span {
    color: $orange;
  }
  .bold-span {
    font-weight: 600;
  }
}
.toggles {
  position: relative;
  display: flex;
  width: 220px;
  background: #fff;
  border: 2px solid #f39c6b;
  border-radius: 999px;
  padding: 4px;
  overflow: hidden;
}

.toggle-slider {
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(50% - 4px);
  height: calc(100% - 8px);
  background: #f39c6b;
  border-radius: 999px;
  transition: transform 0.35s ease;
  z-index: 0;

  &.right {
    transform: translateX(100%);
  }

  &.left {
    transform: translateX(0);
  }
}

.toggle-option {
  flex: 1;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  z-index: 1;
  color: #aaa;
  transition: color 0.3s ease;

  input {
    display: none;
  }
}

.toggle-option input:checked + span {
  color: #fff;
}

.payload-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  .room-input {
    border: 1px solid #222;
    border-radius: 15px;
    padding: 2px 14px;
    font-family: $roboto, sans-serif;
    font-size: 14px;
    height: 30px;
    option {
      color: $black;
    }
    select {
      color: $orange;
      font-size: 11px;
    }
    label {
      color: $orange;
      font-weight: 500;
      font-size: 11px;
    }
  }
}
.guests-selector {
  width: 50%;
}

