@import '../../../styles/variables.scss';
.search-items
{
    display: flex;
    align-items: center;
    overflow: auto;
    width: 100%;
    padding: 10px 0;
    gap: 10px;
    .search-item
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        min-width: 80px;
        cursor: pointer;
        .search-item-image
        {
            width: 60px;
            height: 60px;
          img
          {
            width: 100%;
            height: 100%;
              border-radius: 50%;
            object-fit: cover;
          }
        }
        .item-name
        {
            font-size: 11px;
            text-align: center;
            font-family: $robotoMono,monospace;
            font-weight: 500;
            color: $inputBackGround;
        }
    }
}