@import '../../../styles/variables.scss';
.search-items
{
    display: flex;
    align-items: center;
    overflow: auto;
    width: 100%;
    padding: 10px 20px;
    // height: 30vh;
    margin-top: 20px;
    gap: 10px;
    .search-item
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        height: 100px;
        width: 100px;
        flex: auto 0 0;
        cursor: pointer;
        img
        {
          width: 100%;
          height: 100%;
            border-radius: 10px;
          object-fit: cover;
          position: relative;
          z-index: 1;
        }
        .item-name
        {
            font-size: 11px;
            text-align: center;
            font-family: $robotoMono,monospace;
            font-weight: 500;
            color: $inputBackGround;
            position: relative;
            // left: 100px;
            z-index: 10;
            // top: 50%;
            // background:  rgba(46, 45, 45, 0.559);
            // padding: 10px 30px;
        }
    }
}