@media only screen and (max-width: 600px) {
  //   .cards {
  //     height: 33vh !important;
  //     max-height: 30vh !important;
  // }
  .cutout-box {
    width: 415px ;
    height: 460px ;
  }
  .gallery
  {
    width: 415px;
    height: 250px;
  }
}
@media only screen and (max-width: 360px) {
  // body
  // {
  //   display: none;
  // }
  .cutout-box {
    width: 350px;
    height: 100% ;
}
}