@media only screen and (max-width: 600px) {
    .cards {
      height: 33vh !important;
      max-height: 30vh !important;
  }
  .cutout-box {
    width: 360px !important;
    height: 400px !important;
  }
  .gallery
  {
    width: 370px;
    height: 210px;
  }
}