@media only screen and (max-width: 600px) {
    .cards {
      height: 33vh !important;
      max-height: 30vh !important;
  }
  .cutout-box {
    width: 415px !important;
    height: 460px !important;
  }
  .gallery
  {
    width: 415px;
    height: 250px;
  }
}