@import "../../styles/variables.scss";

.passengers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;
  .ticket-header {
    h2 {
      color: $visibleFontColor;
    }
    h5 {
      color: $visibleFontColor;
    }
  }
}