@import "../../../styles/variables.scss";
.bookhotel-container {
  background: #f7f7f7;
  //   height: 100vh;
  padding: 10px;
  h4 {
    // padding-top: 20px;
    font-family: $textFont, sans-serif;
    text-align: center;
    color: $text_color;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 15px;
    padding-top: 15px;
  }
  .summary {
    h5 {
      font-family: $textFont, sans-serif;
      text-align: start;
      color: $text_color;
      text-transform: capitalize;
      font-weight: 500;
      font-size: 15px;
      margin: 25px 0px 15px 0px;
    }
  }
  .summary-container {
    padding: 10px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 10px;
    .summary-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-family: $textFont, sans-serif;
        font-size: 15px;
        text-decoration: none;
        color: $text_color;
        font-weight: 500;
      }
      h5 {
        font-family: $robotoMono, monospace;
        font-size: 12px;
        text-decoration: none;
        color: $darkOrange;
        margin: 0;
      }
    }
    h3 {
      font-size: 11px;
      font-weight: 500;
      color: $text_color;
      font-family: $textFont, sans-serif;
      // margin-bottom: 10px;
      opacity: 50%;
    }
  }
}
// form
// {
//        padding-bottom: 20px;
// }
.dates {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .date {
    // display: flex;
    h4 {
      font-size: 12px;
      font-weight: 600;
      text-align: left;
      color: $text_color;
      font-family: $robotoMono, monospace;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 12px;
      font-weight: 700;
      text-align: left;
      color: $text_color;
      font-family: $robotoMono, monospace;
      // margin-bottom: 10px;
    }
  }
}
.hr-line {
  margin: 10px 0px 10px 0px;
}
.form-container {
  h4 {
    text-align: left;
    font-size: 15px;
    font-family: $textFont, sans-serif;
    font-weight: 500;
    margin: 25px 0px 0px 0px;
  }
  p {
    font-size: 9px;
    margin-top: 10px;
    font-family: $robotoMono, monospace;
    font-weight: 500;
    opacity: 60%;
    margin-bottom: 10px;
  }
  input {
    outline: none;
    border: 1px solid $darkOrange;
    height: 50px;
    font-family: $robotoMono, monospace;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 10px;
    width: 100%;
    font-size: 13px;
  }
  .pax-info-flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    input {
      width: 100%;
    }
  }
  .dates {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  button {
    background: $darkOrange;
    font-family: $robotoMono, monospace;
    font-size: 13px;
    color: $inputBackGround;
    opacity: 90%;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    opacity: 100%;
  }
  span {
    font-size: 20px;
  }
}
.booking-for {
  h4 {
    font-family: $robotoMono, monospace;
    font-size: 15px;
  }
  .click-container {
    display: flex;
    align-items: center;
    // justify-content: space-around;
    gap: 10px;
    margin-bottom: 10px;
    .click {
      display: flex;
      align-items: center;
      font-family: $robotoMono, monospace;
      color: $text_color;
      gap: 10px;
      label {
        font-weight: 500;
        opacity: 90%;
        font-size: 14px;
      }
      input {
        width: 20px;
        margin: 0px;
        height: 20px;
        color: $darkOrange;
      }
    }
  }
}
.pricing-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  h2 {
    font-size: 15px;
    font-family: $robotoMono, monospace;
    color: $text_color;
    font-weight: 600;
  }
  h5 {
    font-size: 10px;
    font-family: $robotoMono, monospace;
    color: $darkOrange;
    font-weight: 600;
  }
}
.section-two {
  h3 {
    color: $darkOrange;
    font-family: $robotoMono, monospace;
    font-weight: 600;
    opacity: 100%;
    font-size: 12px;
  }
  h4 {
    font-family: $robotoMono, monospace;
    font-size: 11px;
    opacity: 70%;
    margin: 0;
    padding: 0;
  }
  .section-two-header {
    display: flex;
    margin-top: 10px;
    align-items: center;
  }
}
.price-breakdown {
  margin-top: 10px;
  h1 {
    font-family: $robotoMono, monospace;
    font-size: 15px;
    margin-bottom: 5px;
    color: $text_color;
    font-weight: 500;
    margin-top: 30px;
  }
  li {
    font-family: $robotoMono, monospace;
    font-size: 11px;
    margin-bottom: 5px;
    color: $text_color;
    font-weight: 500;
    margin: 0;
  }
}
.heigth {
  height: 80vh;
}
