@import "../../styles/variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

$roboto_mono: "Roboto Mono", monospace;
$roboto_flex: "Roboto Flex", sans-serif;
$poppins_font: "Poppins", sans-serif;
$babas_nue: "Bebas Neue", sans-serif;


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.reviewFlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 100%;
  h1 {
    font-family: $roboto_flex;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  .ticket-header
  {
    color: $ticketColor;
    h2
    {
    color: $ticketColor;
    }
  }
}
.border {
  color: $page_color;
  opacity: 70%;
  margin-top: 10px;
}
.taxes-container {
  background: $ticketColor;
  width: 100%;
  border-radius: 20px;
  padding: 5px;
}
.taxes {
  background: $page_color;
  font-family: $textFont, sans-serif;
  width: 100%;
  border-radius: 15px;
  padding: 3px;
  .border {
    color: $ticketColor;
    text-align: center;
    // margin-bottom: 15px;
    margin-top: 0;
  }
  .taxesHeader {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10%;
    // font-size: 20px;
    padding: 10px 0px 0px 0px;
    text-transform: capitalize;
    color: $visibleFontColor;
    h5 {
      font-weight: 400;
      font-size: 15px;
    }
  }
}

.taxesBody {
  display: flex;
  align-items: center;
  gap: 15%;
  justify-content: space-evenly;
}

.bodyOne {
  h4 {
    font-family: $textFont, sans-serif;
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: 100;
  }
}
.continueBtn {
  background: $actionOrange;
  color: $page_color;
  font-family: $textFont, sans-serif;
  font-size: 20px;
  font-weight: 200;
  text-transform: capitalize;
  text-align: center;
  border: none;
  margin-top: 10px;
  padding: 20px 30px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
}
.paxData {
  display: flex;
  align-items: center;
  justify-content: center;
  .paxDataContainer {
    display: flex;
    align-items: center;
    background: $ticketColor;
    // padding: 5px 15px;
    padding: 2px;
    width: 100%;
    border-radius: 20px;
    color: $page_color;
    font-family: $textFont, sans-serif;
    gap: 10px;
  }
  .data {
    background: $inputBackGround;
    padding: 5px 15px;
    border-radius: 15px;

    h4 {
      color: $visibleFontColor;
      font-size: 13px;
      font-weight: 300;
      text-transform: capitalize;
    }
  }
  .pax h4 {
    font-weight: 300;
    text-transform: capitalize;
    font-size: 13px;
    padding: 5px 5px;
  }
}


// 0744188138
