@import "../../styles/variables.scss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.reviewFlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-family: $textFont, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 10px;
  }
}


.border {
  color: $page_color;
  opacity: 70%;
  margin-top: 10px;
}

.taxes {
  background: $page_color;
  font-family: $textFont, sans-serif;
  width: 98%;
  border-radius: 0px 0px 10px 10px;
  padding: 5px;
  .border {
    color: $ticketColor;
    text-align: center;
    // margin-bottom: 15px;
    margin-top: 0;
  }
  .taxesHeader {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10%;
    // font-size: 20px;
    text-transform: capitalize;
    color: $visibleFontColor;
    h5
    {
        font-weight: 400;
        font-size: 15px;
    }
  }
}

.taxesBody {
  display: flex;
  align-items: center;
  gap: 5%;
  justify-content: center;
}

.bodyOne 
{
    h4
    {
        font-family: $textFont,sans-serif;
        font-size: 13px;
        margin-bottom: 5px;
        font-weight: 100;
    }
}
.continueBtn {
  background: $actionOrange;
  color: $page_color;
  font-family: $textFont, sans-serif;
  font-size: 20px;
  font-weight: 200;
  text-transform: capitalize;
  text-align: center;
  border: none;
  margin-top: 10px;
  padding: 20px 30px;
  width: 95%;
  margin-bottom: 20px;
  border-radius: 5px;
}
.paxData {
  display: flex;
  align-items: center;
  justify-content: center;
  .paxDataContainer {
    display: flex;
    align-items: center;
    background: $ticketColor;
    // padding: 5px 15px;
    padding: 2px;
    width: 100%;
    border-radius: 20px;
    color: $page_color;
    font-family: $textFont, sans-serif;
    gap: 10px;
  }
  .data {
    background: $inputBackGround;
    padding: 5px 15px;
    border-radius: 15px;

    h4 {
      color: $visibleFontColor;
      font-size: 13px;
      font-weight: 300;
      text-transform: capitalize;
    }
  }
  .pax h4 {
    font-weight: 300;
    text-transform: capitalize;
    font-size: 13px;
    padding: 5px 5px;
  }
}
