@import "../../styles/variables.scss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.reviewFlight {
  background: $page_color;
  font-family: $textFont, sans-serif;
  // color: $deemFontColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-family: $textFont, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 10px;
  }
}
// flight ticket
.mainReview {
  background: $ticketColor;
  width: 95%;
  padding: 8px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .departureReview {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background: #fff;
    h1 {
      text-align: center;
      font-family: $cityFont, sans-serif;
      font-weight: 700;
      font-size: 20px;
      margin: 10px 10px 30px 10px;
      color: $page_color;
    }
  }
}
// flight data

.flightData {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  margin-top: 10px;

  h5 {
    background: #f5f7f8;
    padding: 5px 8px;
    margin: 0;
    text-transform: capitalize;
    border-radius: 15px;
    font-family: $textFont, sans-serif;
    font-size: 10px;
    font-weight: 100;
  }
}

.border {
  color: $page_color;
  opacity: 70%;
  margin-top: 10px;
}
.infoHighlights {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
  h5 {
    font-size: 8px;
    font-family: $textFont, sans-serif;
    color: $page_color;
    background: $actionBlue;
    padding: 5px 10px;
    text-transform: capitalize;
    font-weight: 500;
    border-radius: 10px;
  }
}

.taxes {
  background: $page_color;
  font-family: $textFont, sans-serif;
  width: 98%;
  border-radius: 0px 0px 10px 10px;
  padding: 5px;
  .border {
    color: $ticketColor;
    text-align: center;
    // margin-bottom: 15px;
    margin-top: 0;
  }
  .taxesHeader {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10%;
    // font-size: 20px;
    text-transform: capitalize;
    color: $visibleFontColor;
    h5
    {
        font-weight: 400;
        font-size: 15px;
    }
  }
}

.taxesBody {
  display: flex;
  align-items: center;
  gap: 5%;
  justify-content: center;
}

.bodyOne 
{
    h4
    {
        font-family: $textFont,sans-serif;
        font-size: 13px;
        margin-bottom: 5px;
        font-weight: 100;
    }
}
.continueBtn {
  background: $actionOrange;
  color: $page_color;
  font-family: $textFont, sans-serif;
  font-size: 20px;
  font-weight: 200;
  text-transform: capitalize;
  text-align: center;
  border: none;
  margin-top: 10px;
  padding: 20px 30px;
  width: 95%;
  margin-bottom: 20px;
  border-radius: 5px;
}
.paxData {
  display: flex;
  align-items: center;
  justify-content: center;
  .paxDataContainer {
    display: flex;
    align-items: center;
    background: $ticketColor;
    // padding: 5px 15px;
    padding: 2px;
    width: 100%;
    border-radius: 20px;
    color: $page_color;
    font-family: $textFont, sans-serif;
    gap: 10px;
  }
  .data {
    background: $inputBackGround;
    padding: 5px 15px;
    border-radius: 15px;

    h4 {
      color: $visibleFontColor;
      font-size: 13px;
      font-weight: 300;
      text-transform: capitalize;
    }
  }
  .pax h4 {
    font-weight: 300;
    text-transform: capitalize;
    font-size: 13px;
    padding: 5px 5px;
  }
}
