@import "../../../styles/variables.scss";
.stars {
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: auto;
  /* gap: 5px; */
  min-width: 65px;
  h5 {
    font-size: 8px;
    width: fit-content;
    padding: 3px 4px;
    border-radius: 2px;
    font-weight: 500;
    color: $inputBackGround;
    background: $blue;
  }
}
.reviews {
  position: relative;
  z-index: 10;
//   width: 80px;
  h4 {
    font-weight: 500;
    opacity: 70%;
    font-size: 8px;
  }
  img {
    width: 8px;
    background-color: transparent;
  }
}
