@import '../../../styles/variables.scss';

.gender-dropdown {
  margin-bottom: 1rem;
  position: relative;
  width: 100%;

  .dropdown-input {
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
     font-family: $textFont,sans-serif;
    background: $inputBackGround;
    border: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $visibleFontColor;
  }

  .dropdown-menu {
    position: absolute;
    background: $page_color;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 6px;
    margin-top: 4px;
    z-index: 10;

    li {
      text-align: center;
      padding: 10px;
      cursor: pointer;
      color: $visibleFontColor;
      font-family: $textFont,sans-serif;

      &:hover {
        background: $page_color;
      }
    }
  }

}