@import "../../../styles/variables.scss";

.gender-dropdown {
  position: relative;
  width: 100%;
  border: 1px #1e1e1e solid;
  margin-bottom: 10px;
  margin-top: 5px;

  .dropdown-input {
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
    font-family: $textFont, sans-serif;
    background: $inputBackGround;
    border: 1px solid #eee;
    color: $visibleFontColor;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    height: 50px;
    font-size: 10px;
    align-items: center;
    color: $visibleFontColor;
  }

  .dropdown-menu {
    position: absolute;
    background: $page_color;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 6px;
    margin-top: 4px;
    z-index: 10;
    animation: slideDown 0.2s ease-in-out;

    li {
      text-align: center;
      padding: 10px;
      cursor: pointer;
      color: $visibleFontColor;
      font-family: $textFont, sans-serif;

      &:hover {
        background: $page_color;
      }
    }
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
