@import "../../styles/variables.scss";
.location-container {
  h1 {
    font-family: $roboto, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: $text_color;
    text-align: center;
    padding: 5px 15px;
  }
}
