@import "../../../styles/variables.scss";

.rooms-header {
  width: 100vw;
//   position: absolute;
//   z-index: 0;
  height: 30vh;
  img {
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: $visibleFontColor;
    background-blend-mode: overlay;
  }
  .overlay {
    display: none;
  }
  //   .overlay {
  //     position: absolute;
  //     border-radius: 0px 0px 20px 20px;
  //     inset: 0;
  //     // background-color:linear-gradient(to top, #222222e8, #22222278, #2222224d, #2222221f, #22222200);
  //     height: 100%;
  //     // adjust opacity
  //   }
}

.hotel-results
{
    .flexButtons
    {
      position: absolute;
      z-index: 10;
    }
}
.main-results
{
    width: 100%;
    height: auto;

    h4
    {
        text-transform: capitalize;
        text-align: left;
        font-family: $robotoMono,sans-serif;
        color: $visibleFontColor;
        margin-top: 30px;
    }
}
