@import "../../../styles/variables.scss";
$bg-color: #dcf2ff;
*,
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.rooms-header {
  width: 100vw;
  //   position: absolute;
  //   z-index: 0;
  height: 40vh;
  img {
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: $visibleFontColor;
    background-blend-mode: overlay;
  }
  .overlay {
    display: none;
  }
  //   .overlay {
  //     position: absolute;
  //     border-radius: 0px 0px 20px 20px;
  //     inset: 0;
  //     // background-color:linear-gradient(to top, #222222e8, #22222278, #2222224d, #2222221f, #22222200);
  //     height: 100%;
  //     // adjust opacity
  //   }
}
.flex-rates {
  // background: red;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 5px;
  .reviews {
    width: 80px;
    max-width: 100px;
    img {
      width: 15px;
    }
    .stars h5 {
      font-size: 12px;
      padding: 3px 7px;
    }
    h4{
      font-family: $textFont,sans-serif;
    font-weight: 600;
    opacity: 70%;
    font-size: 13px;}
  }
}
.hotel-rooms {
  height: 100vh;
  max-height: 200vh;
  overflow: scroll;
  // padding: 5px;
  .flexButtons {
    position: absolute;
    z-index: 10;
  }
}
.main-results {
  width: 100%;
  height: auto;
  padding: 0px 5px;
  p {
    font-family: $textFont, sans-serif;
    font-size: 14px;
    color: $text_color;
    font-weight: 500;
    opacity: 80%;
    margin-top: 5px;
    line-height: 18px;
  }

  h4 {
    text-transform: capitalize;
    text-align: left;
    font-family: $textFont, sans-serif;
    color: $text_color;
    margin-top: 10px;
    font-weight: 600;
    color: $text_color;
    font-size: 17px;
  }
}

.facilites-container {
  width: 100vw;
  padding: 0px 5px;
  .facilities-header {
    font-size: 18px;
    font-weight: 600;
    color: $text_color;
    text-transform: capitalize;
    font-family: $textFont, sans-serif;
    margin-top: 10px;
  }
}
.facility {
  display: flex;
  align-items: center;
  gap: 5px;
  width: auto;
  max-width: 150px;
  justify-content: space-evenly;
  background: #dcf2ff;
  padding: 5px 5px;
  border: 2px $blue solid;
  border-radius: 5px;
  margin-top: 5px;
  h4 {
    font-family: $roboto, sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin-top: 0px;
    color: $blue;
  }
}
.hotel-reviews {
  margin-top: 10px;
  h4 {
    font-family: $textFont, sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    color: $text_color;
  }
}
.review-card {
  margin-top: 10px;
  background: $ticketColor;
  height: 100px;
  max-height: 200px;
  width: 250px;
  padding: 5px;
  border-radius: 5px;

  .review-header {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    h3 {
      font-family: $textFont, sans-serif;
      text-transform: capitalize;
      font-size: 13px;
      color: $inputBackGround;
      font-weight: 400;
    }
    .review-icon {
      height: 30px;
      width: 30px;
      border-radius: 20px;
      background: $blue;
    }
  }
}
.rooms-container {
  margin-top: 10px;
  margin-bottom: 10px;

  h2 {
    font-family: $textFont, sans-serif;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;
    color: $text_color;
  }
  .rooms {
    margin-top: 10px;
  }
  .room {
    background: $inputBackGround;
    padding: 3px;
    border: 1px solid #222;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    // justify-content: space-between;
    height: 140px;
    width: 100%;
    .images {
      height: 100%;
      background: $blue;
      border-radius: 5px;
      width: 35%;
    }
  }
}
