@import "../../../styles/variables.scss";

.rooms-header {
  width: 100vw;
  position: absolute;
  z-index: 0;
  height: 30vh;
  img {
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: $visibleFontColor;
    background-blend-mode: overlay;
  }
  .overlay {
    position: absolute;
    border-radius: 0px 0px 20px 20px;
    inset: 0;
    background: rgba(0, 0, 0, 0.32);
    height: 100%;
    // adjust opacity
  }
}
.flexButtons{
    position: absolute;
    z-index: 4;
 }