@import "../../../styles/variables.scss";
$bg-color: #dcf2ff;
*,
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.rooms-header {
  width: 100vw;
  //   position: absolute;
  //   z-index: 0;
  padding: 0px 2px 0px 2px;
  height: 40vh;
  img {
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: $visibleFontColor;
    background-blend-mode: overlay;
  }
  .overlay {
    display: none;
  }
  //   .overlay {
  //     position: absolute;
  //     border-radius: 0px 0px 20px 20px;
  //     inset: 0;
  //     // background-color:linear-gradient(to top, #222222e8, #22222278, #2222224d, #2222221f, #22222200);
  //     height: 100%;
  //     // adjust opacity
  //   }
}
.flex-rates {
  // background: red;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 5px;
  .reviews {
    width: 80px;
    max-width: 100px;
    img {
      width: 15px;
    }
    .stars h5 {
      font-size: 12px;
      padding: 3px 7px;
    }
    h4 {
      font-family: $textFont, sans-serif;
      font-weight: 600;
      opacity: 70%;
      font-size: 13px;
    }
  }
}
.hotel-rooms {
  height: 100vh;
  max-height: 200vh;
  overflow: scroll;
  // padding: 5px;
  .flexButtons {
    position: absolute;
    z-index: 10;
  }
}
.main-results {
  width: 100%;
  height: auto;
  padding: 0px 5px;
  p {
    font-family: $roboto, sans-serif;
    font-size: 12px;
    color: $text_color;
    font-weight: 400;
    opacity: 80%;
    margin-top: 5px;
    line-height: 14px;
  }

  h4 {
    text-transform: capitalize;
    text-align: left;
    font-family: $roboto, sans-serif;
    color: $text_color;
    margin-top: 10px;
    font-weight: 400;
    color: $text_color;
    font-size: 17px;
  }
}
.swiper-slide {
  height: 40vh;
  img {
    height: 100%;
  }
}
.facilites-container {
  width: 100vw;
  padding: 0px 5px;
  .facilities-header {
    font-size: 18px;
    font-weight: 600;
    color: $text_color;
    text-transform: capitalize;
    font-family: $roboto, sans-serif;
    margin-top: 10px;
  }
}
.facility {
  display: flex;
  align-items: center;
  gap: 5px;
  width: auto;
  max-width: 150px;
  justify-content: space-evenly;
  background: #dcf2ff;
  padding: 5px 5px;
  border: 2px $blue solid;
  border-radius: 5px;
  margin-top: 5px;
  h4 {
    font-family: $roboto, sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin-top: 0px;
    color: $blue;
  }
}
.hotel-reviews {
  margin-top: 10px;
  h4 {
    font-family: $roboto, sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    color: $text_color;
  }
}
.review-card {
  margin-top: 10px;
  background: $ticketColor;
  height: 100px;
  max-height: 200px;
  width: 250px;
  padding: 5px;
  border-radius: 5px;

  .review-header {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    h3 {
      font-family: $roboto, sans-serif;
      text-transform: capitalize;
      font-size: 13px;
      color: $inputBackGround;
      font-weight: 400;
    }
    .review-icon {
      height: 30px;
      width: 30px;
      border-radius: 20px;
      background: $blue;
    }
  }
}
.rooms-container {
  margin-top: 10px;
  margin-bottom: 10px;
  h2 {
    font-size: 20px;
    text-transform: capitalize;
    font-family: $roboto, sans-serif;
    color: $text_color;
    font-weight: 400;
  }
}
.rooms {
  h5 {
    color: $text_color;
    font-weight: 600;
    font-family: $roboto, sans-serif;
    margin-top: 10px;
  }
  .border {
    position: relative;
    text-align: center;
    padding-top: 5px;
    margin: 0px;
    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 1px;
      background-color: $ticketColor;
    }
  }
}

.room {
  height: 150px;
  width: 85%;
  flex: 0 0 auto;
  background: #fff;
  padding: 5px;
  border: 1px solid $ticketColor;
  // background: red;
  border-radius: 10px;
}
.amenity {
  display: flex;
  align-items: center;
  gap: 5px;
  // margin-top: 5px;
  h5 {
    font-family: $roboto, sans-serif;
    font-size: 10px;
    color: $blue;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 0px;
  }
}
.room-data {
  h4 {
    font-family: $roboto, sans-serif;
    font-size: 14px;
    color: $text_color;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 3px;
    margin-bottom: 2px;
  }
}
  .room-actives {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    .book-now {
      padding: 5px 10px;
      background: $blue;
      border: none;
      font-family: $roboto, sans-serif;
      font-size: 12px;
      color: $inputBackGround;
      text-transform: capitalize;
      border-radius: 5px;
      font-weight: 500;
      h4 {
        font-family: $roboto, sans-serif;
        font-size: 12px;
        color: white;
        font-weight: 600;
        margin: 0px;
      }
    }
  }
.img-container {
  height: 65%;
  background: red;
  width: 100%;
  background: $blue;
  border-radius: 5px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}
.rooms-segment {
  width: 100%;
  // background: red;
  display: flex;
  max-width: 2000px;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding: 5px 0px;
}

.room-rates
{
  font-size: 12px;
  font-family: $roboto, sans-serif;
  color: $text_color;
  font-weight: 600;
  text-transform: capitalize;
  margin-top: 10px;
  
}