@import "../../../styles/variables.scss";

.rooms-header {
  width: 100vw;
  position: absolute;
  z-index: 0;
  height: 30vh;
  img {
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: $visibleFontColor;
    background-blend-mode: overlay;
  }
  .overlay {
    display: none;
  }
  //   .overlay {
  //     position: absolute;
  //     border-radius: 0px 0px 20px 20px;
  //     inset: 0;
  //     // background-color:linear-gradient(to top, #222222e8, #22222278, #2222224d, #2222221f, #22222200);
  //     height: 100%;
  //     // adjust opacity
  //   }
}
.main-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 4;
  align-items: center;
  width: 100%;
  .flexButtons {
    width: 10%;
  }
}
