@import "../../styles/variables.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.FlightResult-page {
  background: $page_color;
  height: 100vh;
  .card {
    height: 90px;
  }
  .backBtn {
    position: relative;
    top: 10px;
    text-transform: capitalize;
    left: 10px;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    color: $page_color;
    font-family: $textFont;
    background-color: $visibleFontColor;
  }
}
h1.h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text {
  font-family: $textFont, sans-serif;
  color: $deemFontColor;
  text-align: center;
  padding: 20px 10px;
  font-size: 15px;
  font-weight: 600;
}
.filter-form {
  // background: red;
  width: 95%;
  // position: absolute;
  button {
    background: $ticketColor;
    color: $page_color;
    font-family: $textFont, sans-serif;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 5px 20px;
    border-radius: 20px;
    border: none;
  }
  .filters {
    background: $actionOrange;
    position: absolute;
    margin-top: 10px;
    z-index: 30;
    padding: 10px;
    border-radius: 10px;
    font-family: $textFont, sans-serif;
    color: $page_color;
  }
  .maxPrice
  {
    input
    {
      margin-left: 10px;
      outline: none;
      border-bottom: 1px solid;
    }
  }
    option
    {
      background: $ticketColor;
      font-size: 10px;
    }
}
// .optionName {
//   width: 10px;
// }
