@import "../../styles/variables.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.FlightResult-page {
  background: $page_color;
  height: 100vh;
  .card {
    height: 90px;
  }
  .backBtn
  {
    position: relative;
    top: 10px;
    text-transform: capitalize;
    left: 10px;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    color:$page_color;
    font-family: $textFont;
    background-color: $visibleFontColor;
  }
}
h1.h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flights-res {
  // background: url("../assets/images/ticketBG\ \(1\).png");
  background: $ticketColor;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  width: 420px;
  height: 220px;
  color: $page_color;
  position: relative;
  box-shadow: 0px 24px 15px -3px rgba(1, 1, 1, 0.253);
  z-index: 10;
  border-radius: 20px;
  margin-top: 20px;
}

.text {
  font-family: $textFont, sans-serif;
  color: $deemFontColor;
  text-align: center;
  padding: 20px 10px;
  font-size: 15px;
  font-weight: 600;
}
