@import "../../../styles/variables.scss";

.document-dropdown {
  width: 100%;
  position: relative;
  font-family: $textFont sans-serif;
  margin-bottom: 10px;
  margin-top: 5px;

  .dropdown-label {
    font-weight: 600;
    margin-bottom: 0.4rem;
    display: block;
  }

  .dropdown-selected {
    padding: 0.6rem 1rem;
    border: 1px #1e1e1e solid;
    // border-radius: 8px;
    background: $inputBackGround;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-family: $robotoMono,monospace;
    font-size: 15px;
    color: $visibleFontColor;
    height: 50px;
  }

  .dropdown-options {
    position: absolute;
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    font-family: $robotoMono,monospace;
    border-radius: 6px;
    margin-top: 0.4rem;
    max-height: 200px;
    font-size: 15px;
    text-transform: uppercase;
    overflow-y: auto;
    font-weight: 600;
    z-index: 10;

    .option-item {
      padding: 0.6rem 1rem;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        background-color: #f0f0f0;
      }

      &.selected {
        font-weight: bold;
        background-color: #eef6ff;
      }
    }
  }
}
