@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

$roboto_mono: "Roboto Mono", monospace;
$roboto_flex: "Roboto Flex", sans-serif;
$poppins_font: "Poppins", sans-serif;
$babas_nue: "Bebas Neue", sans-serif;

// $pagebg: #f7fcff;
$pagebg: #f5f7f8;
$datesbg: #1e1e1e;
$arilindetailbg: #222222;
$bluredtext: #313030 55%;
$ticketBg: #fcfcfc;
$paxDataBg: #f5f5f5;
$samealertBg: #d3f3d5;
$samedayalerttextcolor: #79cc77;

.booked-ticket {
  //   border: #1e1e1e 1px solid;
//   position: absolute;
  z-index: 10;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: $ticketBg;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  .booked-ticket-header {
    background: $arilindetailbg;
    width: 100%;
    border-radius: 7px;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 10px;
    // justify-content: space-between;
    padding: 2px;
    .airline-data {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      // gap: 5px;
      width: 100%;
    }
  }
  .airlinelogo {
    // object-fit: cover;
    width: 75px;
    height: 100%;
    border-radius: 5px;
    background-color: $pagebg;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .flexed-text {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // position: relative;
    // gap: 7px;
    h3 {
      font-size: 12px;
      font-family: $roboto_mono;
      color: $paxDataBg;
      // opacity: %;
      text-transform: uppercase;
      font-weight: 300;
    }
    h3:last-of-type {
      margin-top: 10px;
    }
  }
  .flight-details {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); // 3 columns
    column-gap: 12px;
    background: $paxDataBg;
    padding: 10px;
    // border: 1px solid #1e1e1e;
    border-radius: 7px;
    width: 100%;

    // padding: 4px;
    .detail-flex {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
      //   margin-bottom: 10px;
      h3 {
        font-family: $roboto_mono;
        font-size: 12px;
        font-weight: 400;
        text-transform: capitalize;
        opacity: 60%;
        color: $arilindetailbg;
      }
      h3:last-of-type {
        opacity: 100%;
      }
    }
  }
  //   .small-width
  //   {
  //     width: 80px;
  //   }
  .ticket-border {
    height: 30px;
    // background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    img {
      height: 3px;
      width: 100%;
    }
  }
}
