@import '../../styles//variables.scss';
.header {
  display: flex;
  justify-content: space-between;
  display: flex;
  height: 70px;
  align-items: center;
        .icon
        {
            background: url(../assets/placesImages/Greece.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border: 1px solid #0e0e0e;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }