@import "../../styles//variables.scss";
.header {
  display: flex;
  justify-content: space-between;
  display: flex;
  height: 70px;
  align-items: center;
  width: 100%;
  .icon {
    position: relative;
    z-index: 60;
    background: url(../../assets/placesImages/Greece.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #0e0e0e;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// user drop down

.user-drop-down {
  position: absolute;
  z-index: 40;
  background: $ticketColor;
  padding: 10px;
  right: 13px;
  top: 35px;
  width: 200px;
  border-radius: 15px;
}
.user-drop-down-header {
  h3 {
    font-size: 11px;
    font-family: $textFont, sans-serif;
    color: $page_color;
    text-transform: capitalize;
    margin: 0;
    font-weight: 600;
    padding: 0;
  }
  p {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: $textFont, sans-serif;
    color: $page_color;
    opacity: 70%;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  border-bottom: 1px solid rgba(197, 195, 195, 0.5);
  margin-bottom: 10px;
}
.drop-down-links {
  font-size: 10px;
  font-family: $textFont, sans-serif;
  color: $page_color;
  text-transform: capitalize;
  font-weight: 600;

  margin: 0;
  padding: 0;
  li {
    border-bottom: 1px solid rgba(197, 195, 195, 0.5);
    margin-bottom: 10px;
  }
}
