@import "../../styles//variables.scss";
.header {
  display: flex;
  justify-content: space-between;
  display: flex;
  height: 70px;
  align-items: center;
  width: 100%;
  .icon {
    position: relative;
    z-index: 60;
    border: 2px solid $actionsDar_color;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50px;
    img {
      border-radius: 50px;
      width: 100%;
      height: 100%;
      object-fit: cover; // ensures the image covers fully without distortion
      display: block;
    }
  }
}

// user drop down
.user-drop-down {
  position: absolute;
  z-index: 40;
  background: $ticketColor;
  padding: 3px;
  right: 13px;
  top: 35px;
  width: 200px;
  border-radius: 15px;
}
.user-drop-down-header {
  padding: 0px 0px 10px 0px;
  h3 {
    font-size: 11px;
    font-family: $roboto, sans-serif;
    color: $page_color;
    text-transform: capitalize;
    margin: 0;
    font-weight: 500;
    padding: 0;
    margin-bottom: 5px;
  }
  p {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: $roboto, sans-serif;
    color: $page_color;
    opacity: 70%;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  border-bottom: 1px solid rgba(197, 195, 195, 0.5);
  margin-bottom: 10px;
}
.drop-down-links {
  font-size: 10px;
  font-family: $roboto, sans-serif;
  color: $page_color;
  text-transform: capitalize;
  font-weight: 400;

  margin: 0;
  padding: 0;
  li {
    border-bottom: 1px solid rgba(197, 195, 195, 0.5);
    margin-bottom: 10px;
  }
}

.signIn-container {
  .display {
    background: $page_color;
    height: 129px;
    width: 100%;
    border-radius: 12px 12px 0px 0px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  p {
    font-family: $roboto, sans-serif;
    font-size: 10px;
    text-align: center;
    color: $visibleFontColor;
    text-transform: lowercase;
    margin-top: 40px;
    opacity: 80%;
  }
  button {
    background: $actionOrange;
    padding: 10px 30px;
    font-family: $roboto, sans-serif;
    color: $page_color;
    font-size: 12px;
    width: 100%;
    border-radius: 0px 0px 12px 12px;
  }
}
