@import '../../../styles/variables.scss';

.alertContainer
{
    position: absolute;
    top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background: $ticketColor;
    // width: %;
    border-radius: 10px;
    // border: 2px solid #c3c3c3;
    padding: 7px 20px;
    // margin: 60px 50px;
    img
    {
        width: 20px;
    }
    p
    {
        color: $page_color;
        text-transform: capitalize;
        margin: 0;
        padding: 0;
        // font-family: $textFont,sans-serif;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
        // font-weight: 600;
        // letter-spacing: 2px;
    }
}