@import "../../styles/variables.scss";

.flexed {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  label {
    text-transform: uppercase;
    font-size: 11px;
    // font-weight: 600;
    font-family: $roboto, sans-serif;
  }
}
.stripe-input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fdfdfd;
}
.main-container {
  position: relative;
  background: $ticketColor;
  top: 45%;
  padding: 3px;
  width: 95vw;
  border-radius: 15px;
  // height: 40vh;
  .form-container {
    padding: 5px;
    border-radius: 13px;
    background: $inputBackGround;
  }
}
.card-input {
  font-family: $roboto, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  label {
    font-size: 13px;
    // font-weight: 600;
    font-size: 11px;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-family: $roboto, sans-serif;
    color: $visibleFontColor;
    margin-top: 5px;
  }
  input {
    border: 1px #d6d6d6 solid;
    height: 40px;
    outline: none;
    text-align: start;
    font-size: 12px;
    padding: 0px 0px 0px 10px;
    color: $visibleFontColor;
    border-radius: 5px;
    // padding: 10px 0px 0px 0px;
  }
}

.btn-container {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  button {
    color: $page_color;
    font-family: $roboto, sans-serif;
    font-size: 12px;
    text-transform: capitalize;
    padding: 15px 70px;
    border-radius: 5px;
  }

  .cancelBtn {
    background: #ff5c56;
  }
  .paymentBtn {
    background: $actionBlue;
  }
}
