@media only screen and (max-width: 600px) 
{
  header{
width: 100%;
position: fixed;
top: 90%;
display: flex;
justify-content: center;
align-items: center;
height: 50px;
z-index: 20;
  .nav-items{
  background: #0e0e0e;
  width: fit-content;
  border-radius: 50px;
  padding: 2px;

  ul{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 0;
    padding: 0;
  }
  li{
    color: #fefefe;
    list-style: none;
    padding: 2px 14px;
    border-radius: 30px;
  }
  li:hover
  {
    background: #fefefe;
    color: #141414;
    transition: all 1.2s;
  }
  a{
    color: #141414;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
  }
}
  }
}