@import "../../styles/variables.scss";

@media only screen and (max-width: 600px) {
  header {
    width: 100%;
    position: fixed;
    top: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    z-index: 20;
    .nav-items {
      background: $ticketColor;
      width: fit-content;
      border-radius: 50px;
      padding: 2px 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        color: $page_color;
        font-family: $textFont, sans-serif;
        text-transform: capitalize;
        position: relative;
        z-index: 1;
      }

      ul {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin: 0;
        padding: 0;
        position: relative;
        span {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          // width: 55px;
          padding: 0px 40px;
          height: 100%;
          background: $page_color;
          transition: all 0.5s;
          // z-index: -1;
          border-radius: 20px;
        }
      }
      li {
        list-style: none;
        padding: 5px;
      }
    }
  }
}
ul a:nth-child(1):hover ~ span {
  left: -13px;
  padding: 0px 42px;
  display: block;
}
ul a:nth-child(2):hover ~ span {
  left: 60px;
  padding: 0px 41px;
   display: block;
}
ul a:nth-child(3):hover ~ span {
  left: 134px;
  padding: 0px 45px;
   display: block;
}
ul a:nth-child(4):hover ~ span {
  left: 211px;
  padding: 0px 42px;
   display: block;
}
ul a:nth-child(5):hover ~ span {
  left: 285px;
  padding: 0px 57px;
   display: block;
}
ul a:hover {
  color: $visibleFontColor;
}
