@import "./variables.scss";

body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.FlightResult-page
{
    background: $page_color;
    height: 100vh;
    .card
    {
        height: 90px;
    }
}
h1.h2,h3,h4,h5,h6
{
    margin: 0;
    padding: 0;

}
.results
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.flights-res{
    background: url('../assets/images/ticketBG\ \(1\).png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    width: 420px;
    height: 200px;
    color: $page_color;
    position: relative;
    box-shadow: 0px 24px 15px -3px rgba(1, 1, 1, 0.253);
    z-index: 10;
    margin-top: 20px;
    .flights-header
    {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        align-items: center;
        // gap: 20px;
        font-family: $textFont, sans-serif;
        font-size: 10px;
        width: 95%;
        height: 50px;
        font-weight: 10;
        .airLineIcone
        {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 10px;
        }
        .icon
        {
            background: $actionBlue;
            width: 50px;
            height: 50px;
            border-radius: 30px;
        }
    }
}
.ticket-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // gap: 10px;
    font-family: $textFont, sans-serif;
    color: $page_color;
    width: 95%;
    h2
    {
        text-transform: uppercase;
        font-family: $cityFont, sans-serif;
        font-weight: 500;
        // color: $visibleFontColor;
        font-size: 30px;
    }
    h5
    {
        font-size: 8px;
        font-weight: 100;
        margin-bottom: 2px;
    }
}
.flights-actions
{
    display: flex;
    justify-content: space-between;
    font-family: $textFont,sans-serif;
    font-size: 10px;
    // background: #3653d5;
    align-items: center;
    margin-top: 40px;
    width: 95%;
    .time-details
    {
        display:flex;
        align-items: center;
        gap: 5px;
    }
    .flex-tim
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: $page_color;
        padding: 3px 10px;
        border-radius: 15px;
        color: $deemFontColor;
    }
    .price-details h4
    {
        font-size: 15px;
    }
}
.actions
{
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: $textFont, sans-serif;
    button
    {
        font-size: 10px;
        border-radius: 30px;
        border: none;
        text-transform: capitalize;
        padding: 5px 10px;
        color: $page_color;
    }
    .bookBtn
    {
        background: $actionOrange;
    }
    .detailsBtn
    {
        background: $actionBlue;
    }
}
.FlightResult-header
{
    color: $deemFontColor;
    // background: $deemFontColor;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    h2
    {
        color: $visibleFontColor;
    }
    h5
    {
        color: $visibleFontColor;
    }
}
.text
{
    font-family: $textFont, sans-serif;
    color: $deemFontColor;
    text-align: center;
    padding: 20px 10px;
    font-size: 15px;
}
.center
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flightsDetails {
    position: relative;
    height: 180px; 
    overflow: hidden;
    width: 420px;
    background: #202020;
    border-radius: 0px 0px 20px 20px; 
    bottom: 20px;
}
.stopOvers{
    // background: #803c3c;
    padding: 5px;
    display: flex;
    gap: 10px;
    width: 140%;
    position: absolute;
    top: 21px;
    overflow-x: scroll;
    h2
    {
        font-size: 13px;
        margin-bottom: 5px;
    }
    h5
    {
        font-size: 6px;
        margin-bottom: 5px;
    }
    .ticket-header {
        width:300px;
    }
}
.flightsDetails.open {
    max-height: 200px;
}
