@import './variables.scss';

body
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.reviewFlight
{
    height: 100vh;
    background: $page_color;
    font-family: $textFont, sans-serif;
    // color: $deemFontColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1
    {
        font-family: $textFont, sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
.mainReview
{
    background: $ticketColor;
    width: 95%;
    padding: 8px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .departureReview
    {
        width: 100%;
        // background: #fff;
        h1
        {
            text-align: center;
            font-family: $cityFont,sans-serif;
            font-weight: 700;
            font-size: 20px;
            margin: 10px 10px 30px 10px;
            color: $page_color;
        }
        .ticket
        {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .flight-info
            {
                display: flex;
                align-items: center;
                gap: 2px;;
                margin-top: 20px;
                .flex-info
                {
                    background: $inputBackGround;
                    padding: 5px 7px ;
                    border-radius: 10px;
                    h5
                    {
                        font-family: $textFont, sans-serif;
                        font-size: 9px;
                        font-weight: 500;
                    }
                }
            }
            .text-review
            {
                h6
                {
                    font-weight: 200;
                }
            }
        }
    }
    .center
    {
        h4
        {
            font-weight: 300;
            font-size: 10px;
        }
    }
    .review-ticket
    {
        margin-top: 20px;
    }
}

.border
{
    color: $page_color;
    opacity: 70%;
    margin-top: 10px;
}
.infoHighlights
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    .info
    {
        font-size: 8px;
        font-family: $textFont, sans-serif;
        color: $page_color;
        background: $actionBlue;
        padding: 5px 10px;
        text-transform: capitalize;
        font-weight: 500;
        border-radius: 10px;
    }
}

.taxes
{
    background: $page_color;
    font-family: $textFont, sans-serif;
    width: 98%;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    .border
    {
        color: $ticketColor;
        text-align: center;
        margin-bottom: 15px;
    }
    .taxesHeader
    {
        display: flex;
        gap: 10%;
        align-items: center;
    }
    .taxesBody
    {
        display: flex;
        align-items: center;
        gap: 10%;
    }
    .bodyOne h4
    {
        font-size: 11px;
        text-transform: capitalize;
        font-weight: 400;
        margin-bottom: 10px;
        color: $visibleFontColor;
    }
}