@import './variables.scss';

body
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.reviewFlight
{
    height: 100vh;
    background: $page_color;
    font-family: $textFont, sans-serif;
    color: $deemFontColor;
}