@import './variables.scss';

body
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.reviewFlight
{
    height: 100vh;
    background: $page_color;
    font-family: $textFont, sans-serif;
    // color: $deemFontColor;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainReview
{
    background: $ticketColor;
    height: 85%;
    width: 95%;
    padding: 8px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .departureReview
    {
        width: 100%;
        // background: #fff;
        h1
        {
            text-align: center;
            font-family: $cityFont,sans-serif;
            font-weight: 700;
            font-size: 30px;
            margin: 10px 10px 30px 10px;
            color: $page_color;
        }
        .ticket
        {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .flight-info
            {
                display: flex;
                align-items: center;
                gap: 2px;;
                margin-top: 20px;
                .flex-info
                {
                    background: $inputBackGround;
                    padding: 5px 6.4px ;
                    border-radius: 10px;
                    h5
                    {
                        font-family: $textFont, sans-serif;
                        font-size: 9px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

