@import "./variables.scss";

.cutout-box {
    width: 410px;
    height: 460px;
    border-radius: 50px;
    background: url(../assets/images/bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    background-size: cover;
}
.flights
{
    height: 100vh;
    position: relative;
    z-index: 2;
    .flights-console
    {
        display: flex;
        flex-direction: column;
        gap: 10%;
        height: 90vh;
        align-items: center;
    }
}
.flightType-btns
{    display: flex;
    gap: 2%;
    justify-content: space-around;
    padding: 10px;
    select
    {
        width: 165px;
        padding: 15px 30px;
        color: $visibleFontColor;
        font-size: 15px;
        font-weight: 600;
        font-family: $textFont, sans-serif;
        text-transform: capitalize;
        border-radius: 30px;   
    }
    select:focus{
        outline: none;
    }
    option {
        font-weight: 600;
        display: block;
        padding-block-start: 0px;
        padding-block-end: 1px;
        min-block-size: 1.2em;
        padding-inline: 2px;
        white-space: nowrap;
    }
}
.flexInput
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        background:$inputBackGround;
        margin-bottom: 15px;
        margin-top: 5px;
        width: 95%;
        margin-left: 10px;
        border-radius: 15px;
        height: 60px;
        label
        {
            color: $deemFontColor;
            font-family: $textFont, sans-serif;
            text-transform: capitalize;
            font-size: 10px;
            font-weight: 600;
            opacity: 70%;
            margin-left: 10px;
        }
        input
        {
            border: none;
            width: 95%;
            margin-left: 10px;
            height: 30px;
            background: transparent;
            color: $visibleFontColor;
            // font-weight: 600;
            text-transform: capitalize;
        }
        input:focus
        {
            outline: none;
        }
        input::placeholder
        {
            margin-left: 20px;
        }
    }
    .calender
    {
        width: 190px;
        border-radius: 40px;
        background: $inputBackGround;
        input
        {
            width: 150px;
            border-radius: 10px;
            margin-left: 20px;
            background: $inputBackGround;
        }
        label
        {
            margin-left: 20px;
        }
    }
    .check
    {
        display: flex;
        color: $visibleFontColor;
        text-transform: capitalize;
        font-family: $textFont,sans-serif;
        font-weight: 600;
        font-size: 15px;
        border-radius: 30px;
        width: 180px;
        outline: none;
        background: $inputBackGround;
        padding: 10 20px;
        justify-content: center;
        align-items: center;
        input{
            position: absolute;
            // right: 20px;
            background: #007bff;
            opacity: 5%;
            width: 100px;
            height: 30px;
        }
        
    }
    .calendersUI
    {
        width: 100%;
        margin-top: 30PX;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    //seat selections
    .passenger-selector {
        /* width: 190px; */
        height: 60px;
        font-family: $textFont, sans-serif;
        font-weight: 600;
        position: relative;
        display: flex;
        color: $visibleFontColor;
        /* flex-direction: column; */
        cursor: pointer;
        justify-content: center;
        cursor: pointer;
        .dropdown-header {
            display: flex;
            justify-content: space-evenly; 
            align-items: center;
            flex-direction: column;
            background: $inputBackGround;
            border-radius: 30px;
            width: 190px;
        .arrow {
            font-size: 12px;
        }
        .dropdown-content {
            position: absolute;
            z-index: 10;
            margin-top: 10px;
            padding: 10px;
            background: $inputBackGround;
            border-radius: 8px;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
        }
        .passenger-type {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        
        button:disabled {
            background: $inputBackGround;;
        }
        }
        
        .dropdown-content span {
            min-width: 20px;
            text-align: center;
        } 
    }  
    .seatType
    {
        display: flex;
        align-items: center;
        // margin-top: 2px;
        justify-content: center;
        position: relative;
        margin-bottom: 5px;
        z-index: 2;
        gap: 10px;
        // background: #007bff;
    }
    .seatClass
    {
        display: flex;
        flex-direction: column;
        background: $inputBackGround;
        gap: 5px;
        height: 60px;
        width: 190px;
        border-radius: 30px;
        font-family: $textFont, sans-serif;
        text-transform: capitalize;
        font-weight: 600;
        select
        {
            background: transparent;
            border: none;
            margin-left: 15px;
            text-transform: capitalize;
            color: $visibleFontColor;
            font-weight: 600;
            margin-top: 7px;
            width: 160px;
        }
        select:focus
        {
            outline: none;
        }
        label
        {
            margin-left: 20px;
            font-size: 10px;
            color: $deemFontColor;
            margin-top: 5px;
        }
    }
    .btn-submit
    {
     width: 380px;
    height: 50px;
    text-align: center;
    color: #313030;
    font-size: 20px;
    text-transform: capitalize;
    border-radius: 20px;
    margin-left: 15px;
    margin-top: 5px;
    border: none;
    background: $inputBackGround;
    font-weight: 600;
    }
    // gallery
    .gallery
    {
        background: url(../assets/placesImages/lowerBg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 410px;
        height: 250px;
        scroll-behavior: auto;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        .item
        {
            width: 400px;
            height: 240px;
            background: #007bff;
        }
    }