@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  };
  @font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
  font-family: 'RobotoFlex';
  src: url('../fonts/RobotoFlex-VariableFont.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}
