@import './variables.scss';
body
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.home
{
    height: 100vh;
    background: $page_color;
    h1
    {
        font-family: $textFont, sans-serif;
        text-transform: capitalize;
        font-size: 15px;
        padding: 5px 15px;
    }
}
.activites
{
    h2
    {
        font-family: $textFont, sans-serif;
        font-size: 20px;
        // padding-left: 5px 15px;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .activity-rail
    {
        display: flex;
        gap: 10px;
        // width: fit-content;
        padding: 10px;
        overflow-x: auto;
        // background: #000;
    }
    .activity
    {
        background: $actionBlue;
        height: 350px;
        padding: 15px 5px;
        width: 100%;
        background: url("../assets/images/skyDving.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        h1
        {
            position: relative;
            top: 250px;
            text-align: center;
            // left: 40px;
            font-size: 50px;
            font-family: $cityFont, sans-serif;
            text-transform: uppercase;
            color: $page_color;
        }
    }
}