body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main
{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.brands
{
    width: 27rem;
    background: red;
    height: 300px;
    margin: 30px auto;
    gap: 30px;
    padding-left: 10px;
}
.brand
{
    width: 95%;
    height: 200px;
    margin-top: 40px;
    background: #d9cdcd;
    border-radius: 5px;
}
.brand:nth-child(2)
{
background: #ab6b6b;
}
.brand:nth-child(3)
{
background: #501111;
}
.brand:nth-child(4)
{
background: #49e43d;
}
.brand:nth-child(5)
{
background: #5a9d0d;
}