.testing
{
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10% 2%;
    height: 300px;
    width: 400px;
    background: #e09292;
    input
    {
        border: 1px solid #0e0e0e;
        margin-top: 30px;
        width: 200px;
        height: 20px;
    }
    .dropDown
    {
        display: flex;
        flex-direction: column;
        border: 1px solid gray;
    }
    .dropDown:empty
    {
        border: none;
    }
    .dropDownRow
    {
        text-align: start;
        margin: 2px 0;
    }
}