.testing
{
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10% 2%;
    height: 300px;
    width: 400px;
    position: relative;
    z-index: 1;
    background: #e09292;
    input
    {
        border: 1px solid #0e0e0e;
        margin-top: 30px;
        width: 200px;
        height: 20px;
    }
    .dropDown
    {
        display: flex;
        flex-direction: column;
        border: 1px solid gray;
        padding: 10px;
        position: relative;
        z-index: 10;
        background: #f8f8f8;
        // top: -140px;
    }
    .dropDown:empty
    {
        border: none;
        display: none;
    }
    .dropDownRow
    {
        text-align: start;
        margin: 2px 0;
    }
    li
    {
        text-decoration: none;
        text-overflow: clip;
        list-style: none;
        font-size: 10px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 400;
    }
}