@import "tailwindcss";
@import "./placesCrad.scss";
@import './mediaQueries/600px.scss';
@import '../pages/flightResult/FlightResults.scss';
@import '../components/features/DummyTicket/ticket.scss';
@import '../pages/flightPricing/flightReview.scss';
@import '../components/features/BackButton/backBtn.scss';
@import '../props/FlexInput/FlexInput.scss';
@import '../components/flightSearch/checkBtns/check.scss';
@import '../components/flightSearch/Ticket/ticket.scss';
@import '../pages/Hotels/hotels.styles.scss';
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,h2, h3,h4,h5,h6
{
  margin: 0;
  padding: 0;
}