@import "./navBar.scss";
@import "./placesCrad.scss";
@import './flightsForm.scss';
@import './mediaQueries/600px.scss';
@import './home.scss';
@import './FlightResults.scss';
@import './loader.scss';
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,h2, h3,h4,h5,h6
{
  margin: 0;
  padding: 0;
}