@import './variables.scss';

.main-loader
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 70%;
    // translate: -0% -50%;
    flex-direction: column;
    background: rgba(34, 34, 34, 0.5);
-webkit-backdrop-filter: blur(11px);
backdrop-filter: blur(11px);
border: 1px solid rgba(255,255,255,0.25);
    h4
    {
        font-size: 15px;
        text-align: center;
        color: $page_color;
        margin-top: 30px;
        font-family: $textFont, sans-serif;
        animation: customAni 2s ease-in-out 2s infinite normal none;
        letter-spacing: 1px;
    } 
    @keyframes customAni {
        0% {
          opacity: 1;
        }
      
        50% {
          opacity: 0.2;
        }
      
        100% {
          opacity: 1;
        }
      }
}
.loader {
  display: inline-flex;
  gap: 10px;
}
.loader:before,
.loader:after {
  content: "";
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side,#000 95%,#0000) 50%/8px 8px no-repeat
    #fff;
  aspect-ratio: 1;
  animation: l10 1.5s infinite alternate;
}
.loader:after {
  --s:-1;
}
@keyframes l10 {
  0% ,20% {transform:scaleX(var(--s,1)) rotate(0deg) ;clip-path:inset(0)}
  60%,100%{transform:scaleX(var(--s,1)) rotate(30deg);clip-path:inset(40% 0 0)}
}