@import "./variables.scss";

.main-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  height: 30vh;
  width: 95%;
  margin-left: 10px;
  // translate: -0% -50%;
  flex-direction: column;
//   background: rgb(0, 0, 0);
  h4 {
    font-size: 15px;
    text-align: center;
    color: $visibleFontColor;
    margin-top: 30px;
    font-family: $textFont, sans-serif;
    animation: customAni 2s ease-in-out 2s infinite normal none;
    letter-spacing: 1px;
  }
  @keyframes customAni {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0.2;
    }

    100% {
      opacity: 1;
    }
  }
}
.spinner {
  position: relative;
  width: 33.6px;
  height: 33.6px;
  perspective: 67.2px;
}

.spinner div {
  width: 100%;
  height: 100%;
  background: $actionOrange;
  position: absolute;
  left: 50%;
  transform-origin: left;
  animation: spinner-16s03x 2s infinite;
}

.spinner div:nth-child(1) {
  animation-delay: 0.15s;
}

.spinner div:nth-child(2) {
  animation-delay: 0.3s;
}

.spinner div:nth-child(3) {
  animation-delay: 0.45s;
}

.spinner div:nth-child(4) {
  animation-delay: 0.6s;
}

.spinner div:nth-child(5) {
  animation-delay: 0.75s;
}

@keyframes spinner-16s03x {
  0% {
    transform: rotateY(0deg);
  }

  50%,
  80% {
    transform: rotateY(-180deg);
  }

  90%,
  100% {
    opacity: 0;
    transform: rotateY(-180deg);
  }
}
// .loader {
//   display: inline-flex;
//   gap: 10px;
// }
// .loader:before,
// .loader:after {
//   content: "";
//   height: 20px;
//   aspect-ratio: 1;
//   border-radius: 50%;
//   background:
//     radial-gradient(farthest-side,#000 95%,#0000) 50%/8px 8px no-repeat
//     #fff;
//   aspect-ratio: 1;
//   animation: l10 1.5s infinite alternate;
// }
// .loader:after {
//   --s:-1;
// }
// @keyframes l10 {
//   0% ,20% {transform:scaleX(var(--s,1)) rotate(0deg) ;clip-path:inset(0)}
//   60%,100%{transform:scaleX(var(--s,1)) rotate(30deg);clip-path:inset(40% 0 0)}
// }
