@media only screen and (max-width: 600px) 
{.nav-items{
    background: #0e0e0e;
    width: fit-content;
    border-radius: 50px;
    padding: 2px;
    position: fixed;
    /* top: 73%;*/
    left: 50%; 
    top: 3%;
  ul{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 0;
  }
  li{
    color: #fefefe;
    list-style: none;
    padding: 2px 14px;
    border-radius: 30px;
  }
  a{
    color: #141414;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
  }
}
}