@import "./variables.scss";
@media only screen and (max-width: 600px) 
{
    .places{
    height: 100vh;
    background: $page_color;
    background: #E7E7E7;
    overflow-x: hidden;
    // card
    .card
    {
      width: 200px;
      height: 250px;
      background: #fff;
      position: relative;
      left: 30px;
      border-radius: 20px;
      padding-top: 2px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2
  {
    font-size: 15px;
    margin-bottom: 5px;
  }
 p
  {
    font-size: 10.5px;
    margin: 0;
  }
 img
  {
    width: 190px;
    height: 120px;
    border-radius:15px ;
    margin-top: 2px;
  }
    }
    .card-text
    {
      width: 195px;
      margin-top: 10px;
      margin-left: 10px;
    }
    .btns
    {
      width: 195px;
      display: flex;
      justify-content: space-evenly;
      margin-top: 10px;
      gap: 90px;
      button
    {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background: #0e0e0e;
      color: #fefefe;
      border: none;
      padding: 3px 5px;
      border-radius: 10px;
      text-transform: capitalize;
      font-size: 12px;
    }
    .addBtn
    {
      border-radius: 1px;
    }
    }
  }
      // header
      .location{
        background: $buttonColor;
        display: flex;
        justify-content: space-around;
        width: 70px;
        align-items: center;
        padding: 7px;
        border-radius: 20px;
        margin: 30px;
        h4
        {
            font-family:$textFont, sans-serif;
            font-weight: 10;
            font-size: 10px;
            text-transform: uppercase;
            color: #fff;
        }
    }
}