@import "./variables.scss";
     .places{
    // height: 100vh;
    background: $page_color;
    background: #E7E7E7;
    overflow-x: hidden;
    position: relative;
    z-index: 2;
}

      // header
      .location{
        background: $buttonColor;
        display: flex;
        justify-content: space-around;
        width: 70px;
        align-items: center;
        padding: 7px;
        border-radius: 20px;
        margin-left: 10px;
        // margin: 30px;
        h4
        {
            font-family:$textFont, sans-serif;
            font-weight: 10;
            font-size: 10px;
            text-transform: uppercase;
            color: #fff;
        }
    }
    .header{
        display: flex;
        justify-content: space-between;
        display: flex;
        height: 70px;
        align-items: center;
        .icon
        {
            background: url(../assets/placesImages/Greece.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border: 1px solid #0e0e0e;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }

.cardTitle
{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 70%;
    justify-content: center;
    h4
    {
        font-family: $textFont,sans-serif;
        text-transform: capitalize;
        font-weight: 20;
        color: $visibleFontColor;
        font-size: 15px;
        font-weight: 600;
    }
    h5
    {
        font-family: $textFont,sans-serif;
        font-weight: 20;
        font-size: 15px;
        color: $deemFontColor ;
        opacity: 70%;
    }
}
.cardRail
{
    display: flex;
    gap: 10px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    .cards
{
  display: flex;
  gap: 10px;
  height: 35vh;
  // min-height: 37vh;
  max-height: 35vh;
  width: 100%;
  margin-left: 15px;
  // height: min(50vh ,30vh);
  scroll-behavior: smooth;
  max-height: 50vh;
  justify-content: space-between;
  overflow-x: auto;

}
.cards:active {
  cursor: grabbing; /* Changes cursor when dragging */
}

.cards::-webkit-scrollbar
{
    width: 0px;
}
}
    // card
    .card
    {
      width: 200px;
      max-height: 260px;
      height: 260px;
      min-height: 70%;
      background: #fff;
      display: flex;
      border-radius: 20px;
      padding-top: 2px;
      scroll-snap-align: start;
      flex-direction: column;
      align-items: center;
      h2{
    font-size: 13px;
    margin-bottom: 5px;
    font-family: $textFont, sans-serif ;
    font-weight: 700;
    color: $visibleFontColor;
  }
 p{
    font-size: 10px;
    margin: 0;
    font-family: $textFont, sans-serif ;
    line-height: 13px;
  }
 img
  {
    width: 185px;
    height: 120px;
    border-radius:15px ;
    margin-top: 2px;
  }
  .card-text
  {
    margin-top: 10px;
    margin-top: 5px;
    margin-left: 10px;
  }
  .btns
  {
    width: 195px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    gap: 70px;
  button
  {
    font-family: $textFont,sans-serif;
    background: $buttonColor;
    color: #fefefe;
    border: none;
    padding: 3px 5px;
    text-transform: capitalize;
    font-size: 12px;
  }
  .bookBtn{
      border-radius: 10px;
      width: 85px;
  }
  .addBtn
  {
    border-radius: 1px;
  }

  }
}
.dummy
{
  height: 80px;
  opacity: 0;
  width: 100%;
  display: block;
}