@import "./variables.scss";
// @media only screen and (max-width: 600px) 
// {
     .places{
    height: 100vh;
    background: $page_color;
    background: #E7E7E7;
    overflow-x: hidden;
    position: relative;
    z-index: 2;
}
    // card
    .card
    {
      width: 200px;
      max-height: 250px;
      background: #fff;
      position: relative;
      left: 30px;
      display: flex;
      border-radius: 20px;
      padding-top: 2px;
      flex-direction: column;
      align-items: center;
      h2{
    font-size: 13px;
    margin-bottom: 5px;
    font-family: $textFont, sans-serif ;
    font-weight: 400;
    color: $visibleFontColor;
  }
 p{
    font-size: 10px;
    margin: 0;
    font-family: $textFont, sans-serif ;
  }
 img
  {
    width: 190px;
    height: 120px;
    border-radius:15px ;
    margin-top: 2px;
  }
  .card-text
  {
    width: 195px;
    margin-top: 10px;
    margin-top: 5px;
    margin-left: 10px;
  }
  .btns
  {
    width: 195px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    gap: 70px;
  button
  {
    font-family: $textFont,sans-serif;
    background: $buttonColor;
    color: #fefefe;
    border: none;
    padding: 3px 5px;
    text-transform: capitalize;
    font-size: 12px;
  }
  .bookBtn{
      border-radius: 10px;
      width: 85px;
  }
  .addBtn
  {
    border-radius: 1px;
  }

  }
}
      // header
      .location{
        background: $buttonColor;
        display: flex;
        justify-content: space-around;
        width: 70px;
        align-items: center;
        padding: 7px;
        border-radius: 20px;
        // margin: 30px;
        h4
        {
            font-family:$textFont, sans-serif;
            font-weight: 10;
            font-size: 10px;
            text-transform: uppercase;
            color: #fff;
        }
    }
    .header{
        display: flex;
        justify-content: space-between;
        width: 97%;
        align-items: center;
        margin-top: 20px;
        padding: 5px;
        .icon
        {
            background: url(../assets/placesImages/Greece.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border: 1px solid #0e0e0e;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }

.cardTitle
{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 70%;
    justify-content: center;
    h4
    {
        font-family: $textFont,sans-serif;
        text-transform: capitalize;
        font-weight: 20;
        font-size: 15px;
    }
    h5
    {
        font-family: $textFont,sans-serif;
        font-weight: 20;
        font-size: 12px;
        color: $deemFontColor ;
        opacity: 70%;
    }
}
.cardRail
{
    height: 300px;
    display: flex;
    gap: 10px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    .cards
{
    display: flex;
    gap: 10px;
    columns: 40ch;
    position:absolute;
    width: 100%;
    height: 42svh;
    justify-content: space-between;
    width: fit-content;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.cards::-webkit-scrollbar
{
    width: 0px;
}
}