@font-face {
    font-family: "poppins";
    src: url('../fonts/Poppins-Black.ttf') format('ttf'), 
         url('../fonts/Poppins-Bold.ttf') format('ttf'); 
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
      font-family: "bebbasNeue";
      src: url('../fonts/BebasNeue-Regular.ttf') format('ttf');
      font-weight: normal;
      font-style: normal;
    }

$page_color:#F5F7F8;
$ticketColor:#222222;
$buttonColor:#222222;
$actionBlue :#65B7F5;
$actionOrange:#E88D67;
$deemFontColor:#313030;
$visibleFontColor:#313030;
$inputBackGround:#fefefe;
$textFont:poppins;
$cityFont:bebbasNeue;