@use "../../../styles/variables.scss";

.backBtn {
  font-size: 10px;
  border-radius: 30px;
  border: none;
  text-transform: capitalize;
  font-family: $textFont, sans-serif;
  font-weight: 100;
  padding: 5px 10px;
  color: $page_color;
}
