@import "../../../styles/variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

$roboto_mono: "Roboto Mono", monospace;
$roboto_flex: "Roboto Flex", sans-serif;
$poppins_font: "Poppins", sans-serif;
$babas_nue: "Bebas Neue", sans-serif;

.flexButtons
 {
  width: 100%;
  padding: 10px;
  // background: red;
  // height: 30px;
  button{
  // margin-left: 10px;
  border-radius: 30px;
  border: none;
  padding: 2px;
  background: $ticketColor;
}
}
