@import '../../../styles/variables.scss';
.LabelInput
{
    input
    {
        color: $visibleFontColor;
        text-transform: capitalize;
        font-family: $textFont,sans-serif;
        font-size: 10px;
    }
    width: 100%;
}
.paxForm
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paxFormContainer
{
    background: $ticketColor;
    padding: 10px;
    width: 97vw;
}
.names
{
    width: 100%;
}
.cell
{
    width: 100%;
}
.fulls
{
    width: 100%;
}