@import "../../../styles/variables.scss";
.LabelInput {
  border: 1px #1E1E1E solid;
  input {
    color: $visibleFontColor;
    text-transform: capitalize;
    font-family: $textFont, sans-serif;
    font-size: 10px;
  }
  width: 100%;
  border-radius: 5px;
}
.paxForm {
  display: flex;
  flex-direction: column;
  align-items: center;
   button
    {
      background: $actionOrange;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      font-size: 15px;
      color: $page_color;
      font-family: $textFont,sans-serif;
      font-weight: 300;
      text-transform: capitalize;
      margin-top: 20px;
    }
}
.paxFormContainer {
  padding: 10px;
  width: 97vw;
  border-radius: 10px;
  margin-top: 10px;
  h1 {
    background: $actionOrange;
    width: fit-content;
    padding: 5px 25px;
    color: $page_color;
    font-family: $textFont, sans-serif;
    text-transform: capitalize;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
}
.flex-items {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}
.cell {
  width: 100%;
}
.fulls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  width: 100%;
}
