@import '../../../styles/variables.scss';

.paxFormContainer
{
    background-color: $ticketColor;
}
.names
{
    display: flex;
    gap: 10px;
    // padding: 3px;
}
.fulls
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3px;
    // padding: 3px;
}