@import "../../../styles/variables.scss";
.LabelInput {
  border: 1px #1e1e1e solid;
  border-radius: 10px;
  width: 100%;
  border-radius: 5px;
  height: 50px;
}
.formContainer
{
  input {
    color: $visibleFontColor;
    font-family:$robotoMono,monospace;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
  }
  label
  {
    font-size: 13px;
  }
  width: 100%;
}
.paxForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 75vh;
  .flight-calendar {
    border: 1px #1e1e1e solid;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .flight-calendar__input-field {
    height: 50px;
    border: none;
  }
  .flight-calendar__dropdown {
    width: 370px;

  }
  // overflow-y: scroll;
  .submit {
    background: $actionOrange;
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    font-size: 15px;
    color: $page_color;
    font-family:$robotoMono,monospace;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    top: 10%;
  }
}
.PhoneInputInput {
  background-color: $inputBackGround;
  font-family:$robotoMono,monospace;
  font-size: 13px;
  select {
    font-family:$robotoMono,monospace;
  }
}
.PhoneInput {
  background: $inputBackGround;
  padding: 2px 10px;
  width: 50%;
  // height: 45px;
  border: 1px #1e1e1e solid;
  input {
    // border: 1px solid #1e1e1e;
    outline: none;
    height: 50px;
  }
}
option {
  font-family: $robotoMono, monospace;
  font-size: 10px;
  color: $visibleFontColor;
  font-weight: 500;
}
.paxFormContainer {
  padding: 10px;
  width: 100vw;
  border-radius: 10px;
  margin-top: 10px;
  h1 {
    background: $actionOrange;
    width: fit-content;
    padding: 5px 25px;
    color: $page_color;
    font-family:$robotoMono,monospace;
    text-transform: capitalize;
    border-radius: 30px;
    margin-bottom: 30px;
    margin-top: 5px;
  }
}
.flex-items {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  .gender-dropdown {
    width: 60%;
  }
  .dropdown-selected
  {
    font-family: $robotoMono,monospace;
    height: 51px;
    font-weight: 600;
    opacity: 90%;
    text-transform: uppercase;
  }
}
.cell {
  width: 100%;
}
.fulls {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  width: 100%;
}
